<head>
 
 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
   .navbar {
      position: fixed;
      width: 81%;
      top: 0;
      z-index: 1000;
    }

    .search-form {
      position: sticky;
      top: 60px;  
      background: #ffffff;
      z-index: 999;
    }

    .table-container {
      margin-top: 120px;  
    }
    @media (zoom: 80%) {
  .table-responsive {
    max-width: 80%;
  }
}
  </style>
</head>  
 
  <body>
  
  
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
  
    <aside #sidebar class="left-sidebar" style="background: linear-gradient(to bottom, #ffffff, #cccccc);"
      [style.marginLeft]="isSidebarExpanded ? '0' : '270px'">
      <!-- [@sidebarToggle]="isSidebarExpanded ? 'expanded' : 'collapsed'" -->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="./index.html" class="text-nowrap logo-img">
            <img src="../assets/images/el_maguiri_logo-removebg-preview.png" style="margin-left: 71px;" width="80"
              alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" data-bs-toggle="offcanvas"
            (click)="closesidebar()" data-bs-target="#sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>

        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Dashboard</span>
            </li>
            <li class="sidebar-item" routerLinkActive="active">
              <a class="sidebar-link" [routerLink]="['/dashboard']" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Tableau de bord</span>
              </a>
            </li>
            <li class="nav-small-cap" routerLinkActive="active">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Dossiers</span>
            </li>
            <li class="sidebar-item" routerLinkActive="active">
              <a class="sidebar-link" [routerLink]="['/ajout-societe']" aria-expanded="false">
                <span>
                  <i class="bi bi-file-earmark-plus-fill"></i>
                  <!-- <i class="ti ti-article"></i> -->
                </span>
                <span class="hide-menu">Nouveau dossier</span>
              </a>
            </li>
            <li class="sidebar-item" routerLinkActive="active">
              <a class="sidebar-link" [routerLink]="['/dossier']" aria-expanded="false">
                <span>
                  <i class="ti ti-file-description"></i>

                </span>
                <span class="hide-menu">Liste Des Dossiers</span>
              </a>
            </li>
            <!-- <li class="sidebar-item">
              <a class="sidebar-link" href="./ui-card.html" aria-expanded="false">
                <span>
                  <i class="ti ti-cards"></i>
                </span>
                <span class="hide-menu">Progrès du Dossier</span>
              </a>
            </li> -->
            <li class="sidebar-item" routerLinkActive="active">
              <a class="sidebar-link" [routerLink]="['/dossier-archive']" aria-expanded="false">
                <span>
                  <i class="ti ti-alert-circle"></i>
                </span>
                <span class="hide-menu">Dossiers Archivés</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Préstations</span>
            </li>
            <li class="sidebar-item" routerLinkActive="active">
              <a class="sidebar-link" [routerLink]="['/ajout-prestation']" aria-expanded="false">
                <span>
                  <i class="bi bi-plus-circle-fill"></i>
                  <!-- <i class="bi bi-list-task"></i>   -->
                </span>
                <span class="hide-menu">Nouvelle Mission</span>
              </a>

            </li>
            <li class="sidebar-item" routerLinkActive="active">
              <!-- <i class="ti ti-article"></i> -->

              <a class="sidebar-link" [routerLink]="['/Prestation']" aria-expanded="false">
                <span>
                  <i class="bi bi-card-checklist"></i>
                </span>
                <span class="hide-menu"> Liste Des Missions</span>
              </a>
            </li>


            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">AUTH</span>
            </li>
            <li class="sidebar-item" routerLinkActive="active">
              <a class="sidebar-link" [routerLink]="['/nv-colab']" aria-expanded="false">
                <span>
                  <i class="ti ti-user-plus"></i>
                </span>
                <span class="hide-menu">Register</span>
              </a>
            </li>
            <li class="sidebar-item" routerLinkActive="active">
              <a class="sidebar-link" [routerLink]="['/list-colabs']" aria-expanded="false">
                <span>
                  <i class="bi bi-people-fill"></i>
                </span>
                <span class="hide-menu">Colaborateurs</span>
              </a>
            </li>
            <li class="sidebar-item" routerLinkActive="active">
              <a class="sidebar-link" aria-expanded="false">
                <span>
                  <i class="bi bi-person-fill-lock"></i>
                </span>
                <span class="hide-menu">affectation d'accès</span>
              </a>
            </li>


          </ul>

        </nav>

      </div>

    </aside>
    
    <div class="body-wrapper">
    
      <header class="app-header" style="position: fixed; ">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover" id="sidebarCollapseButton" data-bs-toggle="offcanvas" (click)="toggleSidebar()" data-bs-target="#sidebarCollapse">
                <i class="ti ti-menu-2"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-icon-hover">
                <i class="ti ti-bell-ringing"></i>
                <div class="notification bg-primary rounded-circle"></div>
              </a>
            </li>
          </ul>
          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
              <a href="https://adminmart.com/product/modernize-free-bootstrap-admin-dashboard/" target="_blank" class="btn btn-primary">Welcome, {{username}}</a>
              <li class="nav-item dropdown">
                <a class="nav-link nav-icon-hover" (click)="displaydatauser()" id="drop2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="../assets/images/profile/user-1.jpg" alt="" width="35" height="35" class="rounded-circle">
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" id="dropmenuuser" aria-labelledby="drop2">
                  <div class="message-body">
                    <a  class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-user fs-6"></i>
                      <p class="mb-0 fs-3">Mon Profile</p>
                    </a>
                    <a href="./authentication-login.html" class="btn btn-outline-primary mx-3 mt-2 d-block">Déconnecter</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <main style="margin-top: 30px;" >
        <form class="d-flex" style="width: 33%; margin-left: 350px; margin-top: 90px;">
          <input class="form-control me-2" type="search" placeholder="identifiant" aria-label="Search">
          <button class="btn btn-outline-warning" type="submit">Rechercher</button>
        </form>
            <div class="table-responsive bg-white"  style="margin: 30px; max-width: 100%;margin-top: 60px;" >
            <table class="table mb-0">
              <thead>  
                <tr>
                  <th class="large-column" scope="col">nom</th>
                  <th class="small-column" scope="col">prenom</th>
                  <th class="small-column" scope="col">nom utilisateur</th>
                  <th class="small-column" scope="col">poste</th>
                  <th class="small-column" scope="col">Accès</th>
                  <th class="small-column" scope="col">email pro</th>
                  <th class="small-column" scope="col">password</th>
                  <th class="small-column" scope="col" style="text-align: center;">Actions</th>
                </tr>
              </thead>
              <tbody> 
                <tbody> 
                <tr   class="cursor-pointer" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)" >
                  <td>beniss</td>
                  <td>reda</td>
                  <td>adminbenis</td>
                  <td>directeur</td>
                  <td>admin</td> 
                  <td>beniss@gmail</td>
                  <td>adminadmin</td>  
                  <td class="Actions">
                    <div class="d-flex justify-content-center">
                    <a   class="text-decoration-none text-primary me-2" data-toggle="tooltip" title="modifier">
                      <i class="bi bi-pencil-square"></i>
                    </a>
                    <a  data-toggle="tooltip" title="visualiser"  ><i class="bi bi-eye"></i></a>
                    <a   (click)="openModal()"  data-toggle="tooltip"  data-bs-placement="top"  title="archiver"><i class="bi bi-archive"></i></a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
 
      <div class="paginator-container">
        <!-- (click)="openBottomSheet()" (click)="openModal()" -->
        <mat-paginator [length]="200" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page"></mat-paginator>
      
    </div>
        
    
   </main> 
      
    </div>
    
     

  </div>
  





 
    
</body> 
 


















 