<body class="body1">
    <div class="container">
        <div class="form-group">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            <img class = "image"  src="../../assets/images/el_maguiri_logo-removebg-preview.png" />
            <div style="display: contents">
                <button type="button" class="btn btn1" routerLink="/Login">Audit</button>
                <button type="button" class="btn btn1" routerLink="/Login">Expertise</button>
                <button type="button" class="btn btn1" routerLink="/Login">Conseil</button>
                <button type="button" class="btn btn1" routerLink="/Login">Juridique</button>
                <button type="button" class="btn btn1" routerLink="/Login">Administration</button>
                <button type="button" class="btn btn1" routerLink="/Login">RH</button>
                <button type="button" class="btn btn1" routerLink="/Login">Divers</button>
           </div>
        </div>
        
    </div>
</body>