<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <style>
    /* body {
      zoom: 90%;
    } */
/*   
    @media (max-width: 767px) {
      body {
        zoom: 85%;
      }

      .left-sidebar {
        margin-left: 0;
      }
    } */
  </style>
</head>



<body>

  <div class="sidebar" [class.open]="isSidebarOpen" (mouseenter)="toggleSidebar()" (mouseleave)="toggleSidebar()">
    <div class="logo_details">
      <div class="logo_name"> </div>
      <i class="bx bx-menu" id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <i class="bx bx-search"></i>
        <input type="text" placeholder="Search...">
         <span class="tooltip">Search</span>
      </li>
      <li>
        <a  [routerLink]="['/testmenu']" >
          <i class="bx bx-grid-alt"></i>
          <span class="link_name">Dashboard</span>
        </a>
        <span class="tooltip">Dashboard</span>
      </li>
      <li>
        <a [routerLink]="['/list-client']" >
          <i class="bx bx-user"></i>
          <span class="link_name">Client</span>
        </a>
        <span class="tooltip">Client</span>
      </li>
      <li>
        <a  [routerLink]="['/Prestation']" >
          <i class="bx bx-chat"></i>
          <span class="link_name">Préstation</span>
        </a>
        <span class="tooltip">Préstation</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-pie-chart-alt-2"></i>
          <span class="link_name">Tache</span>
        </a>
        <span class="tooltip">Tache</span>
      </li>
      <li>
        <a [routerLink]="['/list-type-societe']" >
          <i class="bx bx-folder"></i>
          <span class="link_name">Types société</span>
        </a>
        <span class="tooltip">Types D'entreprises</span>
      </li>
      <li>
        <a [routerLink]="['/list-colabs']" >
          <i class='bx bx-user-plus'></i>
          <span class="link_name">Colaborateur</span>
        </a>
        <span class="tooltip">Colaborateur</span>
      </li>
      <li>
        <a [routerLink]="['/listmanager']">
          <i class="bx bxs-group"></i>
          <span class="link_name">Associé</span>
        </a>
        <span class="tooltip">Associé</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-cog"></i>
          <span class="link_name">Settings</span>
        </a>
        <span class="tooltip">Settings</span>
      </li>
      <li class="profile">
        <div class="profile_details">
          <!-- <img src="profile.jpeg" alt="profile image"> -->
          <div class="profile_content">
            <div class="name">Anna Jhon</div>
            <div class="designation">Admin</div>
          </div>
        </div>
        <i class="bx bx-log-out" id="log_out"></i>
      </li>
    </ul>
  </div>

    <div class="body-wrapper" >
      <!-- //header2 -->

      <header class="app-header" style="position: fixed;">
        <nav class="navbar navbar-expand-lg navbar-light" >
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover" id="sidebarCollapseButton" data-bs-toggle="offcanvas"
                (click)="toggleSidebar()" data-bs-target="#sidebarCollapse">
                <i class="ti ti-menu-2"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-icon-hover">
                <i class="ti ti-bell-ringing"></i>
                <div class="notification bg-primary rounded-circle"></div>
              </a>
            </li>
          </ul>
  
          <!-- RECHERCHE BAR -->
          <!-- <form class="position-relative text-center">
            <div class="input-group"
              style="width: 600px; margin-left: 20px; margin-top: 12px; background-color: ghostwhite;">
              <input placeholder="Search..." aria-label="Search" type="search" class="rounded-pill form-control">
              <div class="input-group-prepend">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="svg-inline--fa fa-search fa-w-16 text-400 search-box-icon"
                  style="margin-left: -34px;text-align:center;margin-top: 8px;">
                  <circle cx="11" cy="11" r="8"></circle>
                  <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                </svg>
              </div>
            </div>
          </form> -->
  
          <!-- Traduction -->
          <!-- <div class="flex items-center gap-2 h-16 ml-auto" style="margin-left: 400px;">
            <div class="dropdown-item">
              <a class="dropdown-toggle" id="Dropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                <i class="flag-united-kingdom flag m-0"></i>
                <img class="thumb" data-pin-no-hover="true" fetchpriority="high"
                  src="../../assets/images/flagfrance.png" style="width: 38px; height: 36px;">
              </a>
            </div>
          </div> -->
          
          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
              <a href="https://adminmart.com/product/modernize-free-bootstrap-admin-dashboard/" target="_blank"
                class="btn btn-primary"  style="width: 221px;padding: 6px">Welcome, {{username}}</a>
                <!-- (click)="displaydatauser()" -->
              <li class="nav-item dropdown">
                <a class="nav-link nav-icon-hover"  (click)="displaydatauser()" id="drop2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="../assets/images/profile/user-1.jpg" alt="" width="35" height="35" class="rounded-circle">
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" id="dropmenuuser"
                  aria-labelledby="drop2">
                  <div class="message-body">
                    <a class="d-flex align-items-center gap-2 dropdown-item" style="margin-left: 18px;">
                      <i class="ti ti-user fs-6"></i>
                      <p class="mb-0 fs-3" style="font-size: 0.875rem!important;
                        margin-bottom: 0!important;margin-left: -7px;margin-top: 10px;">Mon Profile</p>
                    </a>
                    <!-- (click)="logout()" -->
                    <a  (click)="logout()" style="margin-bottom: 12px;"
                      class="btn btn-outline-primary mx-3 mt-2 d-block">Déconnecter</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <div style="background-color: #ffff;margin-left: 100px;margin-top: 90px;" >
        <div class="container" *ngIf="!element">
          <div class="row">
              <form [formGroup]="ColabForm">
                <div class="row justify-content-center align-items-center" style="margin-left: 400px;">
                  <div class="col-6">
                    <div class="action text-center"  [ngClass]="{'fixed-button': showFixedButton}" style="display: flex; gap: 10px; font-size: 18px;">
                      <a class="btn btn-outline-primary mx-4 mt-6 d-block" id="btnannuler" [routerLink]="['/list-client']" style=" padding-top: 3px; margin-bottom: 2px;padding-right: 10px;padding-left: 7px;">Annuler</a>
                      <button type="submit" class="btn btn-outline-primary mx-4 mt-6 d-block-clt" id="btncloturer" (click)="OnSubmit()" style="padding-top: 3px; margin-bottom: 4px;padding-right: 10px;padding-left: 10px;">
                        <i class="bi bi-check-circle"></i> Enregistrer Colaborateur
                      </button>
                    </div> 
                  </div>
                </div>  
              <div class="col-md-12 mb-3">
                <div class="card dossier-card">
                  <div class="card-body">
                    <h5 class="card-title mb-0">Identification</h5>
                    <hr class="flex-grow-1" style="border-top: 1px solid #ccc;margin-top: -9px;">
  
                    <div class="d-flex flex-wrap mb-3" style="margin-top: 30px;">
                    <div class="mb-3 d-flex">
                        <div class="me-3" style="width: 150px;">
                          <label for="nom" class="label rs">Nom:</label>
                        </div>
                        <div style="width: 400px;">
                          <input type="text" class="form-control custom-sinput" id="nom" formControlName="nom"
                            placeholder="Nom">
                        </div>
                        <div
                        *ngIf="ColabForm.get('nom')?.hasError('required') && (ColabForm.get('nom')?.touched ||ColabForm.get('nom')?.dirty)"
                        class="text-danger">
                        *
                        <!-- Nom est obligatoire. -->
                      </div>
                      </div>  
  
  
                      <div class="mb-3 d-flex">
                        <div class="me-3" style="width: 150px;">
                          <label for="prenom" class="label rs" style="margin-left: 44px;">Prénom :</label>
                        </div>
                        <div style="width: 200px;">
                          <input type="text" class="form-control custom-sinput" id="prenom" formControlName="prenom"
                            placeholder="prénom">
                        </div>
                        <div
                        *ngIf="ColabForm.get('prenom')?.hasError('required') && (ColabForm.get('prenom')?.touched ||ColabForm.get('prenom')?.dirty)"
                        class="text-danger">
                        *
                        <!-- Prénom  est obligatoire. -->
                      </div>
                      </div> 
                      
                      <div class="mb-3 d-flex" style="margin-top: 12px;">
                        <div class="me-3" style="width: 150px;">
                          <label for="username" class="label rs me-3">Nom d'utilisateur:</label>
                        </div>
                        <div style="width: 400px;">
                          <input type="text" class="form-control custom-sinput" id="username"
                            formControlName="username" placeholder="Nom d'utilisateur:">
                        </div>
                        <div
                        *ngIf="ColabForm.get('username')?.hasError('required') && (ColabForm.get('username')?.touched ||ColabForm.get('username')?.dirty)"
                        class="text-danger">
                        *
                        <!-- Nom d'utilisateur est obligatoire. -->
                      </div>
  
                      </div>  
                      
  
                      
                        <div class="mb-3 d-flex" style="margin-top: 12px">
                        <div class="me-3" style="width: 150px">
                          <label for="emailPro" style="margin-left: 50px;" class="label rs me-3">Email :</label>
                        </div>
                        <div style="width: 400px;">
                          <input type="email" class="form-control custom-sinput" id="emailPro"
                            formControlName="emailPro" placeholder="exemple@email.com">
                        </div>
                        <div
                        *ngIf="ColabForm.get('emailPro')?.hasError('required') && (ColabForm.get('emailPro')?.touched ||ColabForm.get('emailPro')?.dirty)"
                        class="text-danger">
                        *
                        <!-- Email est obligatoire. -->
                      </div>
  
                      </div>  
  
                      <div class="mb-3 d-flex" style="margin-top: 12px;">
                        <div class="me-3" style="width: 150px;">
                          <label for="mdp" class="label rs me-3">Mot De Passe :</label>
                        </div>
                        <div style="width: 300px;">
                          <input type="password" class="form-control custom-sinput" id="password" formControlName="password"
                            placeholder="">
                            <input type="checkbox" (click)="showpassword()">Afficher Mot De Passe

                        </div>
                        <div *ngIf="ColabForm.get('password')?.hasError('required') && (ColabForm.get('password')?.touched || ColabForm.get('password')?.dirty)" class="text-danger">
                          <!-- Mot De Passe est obligatoire. -->
                          *
                        </div>
                      
  
                      </div>

                      <div class="mb-3 d-flex" style="margin-top: 12px;">
                        <div class="me-3" style="width: 223px;margin-left: 18px;">
                          <label for="confirmPassword" class="label rs me-3">Confirmation Mot De Passe:</label>
                        </div>
                        <div style="width: 300px;">
                          <input type="password" class="form-control custom-sinput" id="confirmPassword" formControlName="confirmPassword"
                            placeholder="">
                            <input type="checkbox" (click)="showpassword()">Afficher Confirmation Mot De Passe
                        </div>
                        <div *ngIf="ColabForm.get('confirmPassword')?.hasError('required') && (ColabForm.get('confirmPassword')?.touched || ColabForm.get('confirmPassword')?.dirty)" class="text-danger">
                        *
                      </div>
  
                      </div>

                      <div class="mb-3 d-flex" style="margin-top: 12px;">
                        <div class="me-3" style="width: 150px;">
                          <label for="poste" class="label rs me-3">Poste:</label>
                        </div>
                        <div style="width: 300px;">
                          <input type="text" class="form-control custom-sinput" id="poste" formControlName="poste"
                            placeholder="">
                        </div>
                      <div *ngIf="ColabForm.get('poste')?.hasError('required') && (ColabForm.get('poste')?.touched || ColabForm.get('poste')?.dirty)" class="text-danger">
                        *
                      </div>
                      
  
                      </div>

                      <div class="mb-3 d-flex" style="margin-top: 12px;">
                        <div class="me-3" style="width: 150px;">
                          <label for="typesociete" class="label rs me-3">Accès:</label>
                        </div>
                        <div style="width: 600px;">
                          <!-- <select id="role" formControlName="role" style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px;">
                            <option  value="" disabled selected>choisir un Accès </option>
                            <option *ngFor="let role of rolesNames" [value]="role">{{ role }}</option>
   
                          </select> -->
                          <div formGroupName="roles">
                          <select id="role" formControlName="role" style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px;">
                            <option value="" disabled>Select a Role</option>
                            <option *ngFor="let role of roles" [value]="role.id">{{ role.role }}</option>
                          </select>
                        </div>
                        </div>
                        <div
                        *ngIf="ColabForm.get('role')?.hasError('required') && (ColabForm.get('role')?.touched || ColabForm.get('role')?.dirty)"
                        class="text-danger">
                        *
                      </div>
  
                      </div>
                       
                      
  
                    </div>
                  </div>
                </div>
              </div>
  
   
            </form>
          </div>
       </div> 
      
 
       <!-- Modifier colaborateur form -->
       <div class="container" *ngIf="element">
        <div class="row">
            <form  *ngIf="selectedData"   #updateColab="ngForm" (ngSubmit)="OnUpdate(updateColab.value)"  >
              <div class="row justify-content-center align-items-center" style="margin-left: 400px;">
                <div class="col-6">
                  <div class="action text-center"  [ngClass]="{'fixed-button': showFixedButton}" style="display: flex; gap: 10px; font-size: 18px;">
                    <a class="btn btn-outline-primary mx-4 mt-6 d-block" id="btnannuler" [routerLink]="['/list-colabs']" style=" padding-top: 3px; margin-bottom: 2px;padding-right: 10px;padding-left: 7px;">Annuler</a>
                    <button type="submit" class="btn btn-outline-primary mx-4 mt-6 d-block-clt" id="btncloturer"   (click)="OnSubmit()" style="padding-top: 3px; margin-bottom: 4px;padding-right: 10px;padding-left: 10px;">
                      <i class="bi bi-check-circle"></i> Modifier Colaborateur
                    </button>
                  </div> 
                </div>
              </div>  
            <div class="col-md-12 mb-3">
              <div class="card dossier-card">
                <div class="card-body">
                  <h5 class="card-title mb-0">Identification</h5>
                  <hr class="flex-grow-1" style="border-top: 1px solid #ccc;margin-top: -9px;">

                  <div class="d-flex flex-wrap mb-3" style="margin-top: 30px;">
                  <div class="mb-3 d-flex">
                      <div class="me-3" style="width: 150px;">
                        <label for="nom" class="label rs">Nom:</label>
                      </div>
                      <div style="width: 400px;">
                        <input type="text" class="form-control custom-sinput" id="nom"  [(ngModel)]="selectedData.nom" [ngModelOptions]="{standalone: true}">
                      </div>
                      <!-- <div
                      *ngIf="ColabForm.get('nom')?.hasError('required') && (ColabForm.get('nom')?.touched ||ColabForm.get('nom')?.dirty)"
                      class="text-danger">
                      * </div> -->
                      <!-- Nom est obligatoire. -->
                    
                    </div>  


                    <div class="mb-3 d-flex">
                      <div class="me-3" style="width: 150px;">
                        <label for="prenom" class="label rs" style="margin-left: 44px;">Prénom :</label>
                      </div>
                      <div style="width: 200px;">
                        <input type="text" class="form-control custom-sinput" id="prenom"  [(ngModel)]="selectedData.prenom" [ngModelOptions]="{standalone: true}">
                      </div>
                      <!-- <div
                      *ngIf="ColabForm.get('prenom')?.hasError('required') && (ColabForm.get('prenom')?.touched ||ColabForm.get('prenom')?.dirty)"
                      class="text-danger">
                      *  </div> -->
                      <!-- Prénom  est obligatoire. -->
                   
                    </div> 
                    
                    <div class="mb-3 d-flex" style="margin-top: 12px;">
                      <div class="me-3" style="width: 150px;">
                        <label for="username" class="label rs me-3">Nom d'utilisateur:</label>
                      </div>
                      <div style="width: 400px;">
                        <input type="text" class="form-control custom-sinput" id="username" [(ngModel)]="selectedData.username" [ngModelOptions]="{standalone: true}">
                      </div>
                      <!-- <div
                      *ngIf="ColabForm.get('username')?.hasError('required') && (ColabForm.get('username')?.touched ||ColabForm.get('username')?.dirty)"
                      class="text-danger">
                      * </div> -->
                      <!-- Nom d'utilisateur est obligatoire. -->
                    

                    </div>  
                    

                    
                      <div class="mb-3 d-flex" style="margin-top: 12px">
                      <div class="me-3" style="width: 150px">
                        <label for="EmailPro" style="margin-left: 50px;" class="label rs me-3">Email :</label>
                      </div>
                      <div style="width: 400px;">
                        <input type="email" class="form-control custom-sinput" id="EmailPro" [(ngModel)]="selectedData.emailPro" [ngModelOptions]="{standalone: true}">
                      </div>
                      <!-- <div
                      *ngIf="ColabForm.get('EmailPro')?.hasError('required') && (ColabForm.get('EmailPro')?.touched ||ColabForm.get('EmailPro')?.dirty)"
                      class="text-danger">
                      *
                      
                    </div> -->
                     <!-- Email est obligatoire. -->

                    </div>  

                    <div class="mb-3 d-flex" style="margin-top: 12px;">
                      <div class="me-3" style="width: 150px;">
                        <label for="mdp" class="label rs me-3">Mot De Passe :</label>
                      </div>
                      <div style="width: 300px;">
                        <input type="password" class="form-control custom-sinput" id="password" [(ngModel)]="selectedData.password" [ngModelOptions]="{standalone: true}">
                          <input type="checkbox" (click)="showpassword()">Afficher Mot De Passe

                      </div>
                      <!-- <div *ngIf="ColabForm.get('password')?.hasError('required') && (ColabForm.get('password')?.touched || ColabForm.get('password')?.dirty)" class="text-danger">
                         
                        *
                      </div> -->
                    <!-- Mot De Passe est obligatoire. -->

                    </div>

                    <div class="mb-3 d-flex" style="margin-top: 12px;">
                      <div class="me-3" style="width: 223px;margin-left: 18px;">
                        <label for="ConfirmPassword" class="label rs me-3">Confirmation Mot De Passe:</label>
                      </div>
                      <div style="width: 414px;">
                        <input type="password" class="form-control custom-sinput" id="ConfirmPassword" [(ngModel)]="selectedData.confirmPassword" [ngModelOptions]="{standalone: true}">
                          <input type="checkbox" (click)="showpassword()">Afficher Confirmation Mot De Passe
                      </div>
                      <!-- <div *ngIf="ColabForm.get('ConfirmPassword')?.hasError('required') && (ColabForm.get('ConfirmPassword')?.touched || ColabForm.get('ConfirmPassword')?.dirty)" class="text-danger">
                      *
                    </div> -->

                    </div>

                    <div class="mb-3 d-flex" style="margin-top: 12px;">
                      <div class="me-3" style="width: 150px;">
                        <label for="poste" class="label rs me-3">Poste:</label>
                      </div>
                      <div style="width: 300px;">
                        <input type="text" class="form-control custom-sinput" id="poste" [(ngModel)]="selectedData.poste" [ngModelOptions]="{standalone: true}">
                      </div>
                    <!-- <div *ngIf="ColabForm.get('poste')?.hasError('required') && (ColabForm.get('poste')?.touched || ColabForm.get('poste')?.dirty)" class="text-danger">
                      *
                    </div> -->
 
                    </div>

                    <div class="mb-3 d-flex" style="margin-top: 12px;">
                      <div class="me-3" style="width: 150px;">
                        <label for="role" class="label rs me-3">Accès:</label>
                      </div>
                      <div style="width: 600px;"  >
                        <!-- <select id="role"  [(ngModel)]="selectedData.role" [ngModelOptions]="{standalone: true}" style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px;">
                          <option  value="" disabled selected>choisir un Accès </option>
                          <option *ngFor="let role of rolesNames" [value]="role">{{ role }}</option>
 
                        </select> -->
                        
                      </div>
                      <!-- <div
                      *ngIf="ColabForm.get('role')?.hasError('required') && (ColabForm.get('role')?.touched || ColabForm.get('role')?.dirty)"
                      class="text-danger">
                      *
                    </div> -->

                    </div>
                     
                    

                  </div>
                </div>
              </div>
            </div>

 
          </form>
        </div>
     </div> 

    <br />
      </div>

      <img width="48" height="48" src="https://img.icons8.com/color/48/undo.png" class="bottom-link"alt="undo"  routerLink="/list-client" style="cursor: pointer;"/>

    </div>



</body>

<div class="toast toast-success" role="alert" aria-live="assertive" id="toastsucces"  aria-atomic="true" style="text-align: center;">
  <strong class="me-auto"></strong>
  <button type="button" class="btn-close" data-bs-dismiss="toast" style="position: absolute; top: 0; right: 0;" aria-label="Close"></button>
  <div class="toast-body">
   Votre Colaborateur a été ajouté avec succès 
  </div>
</div>

<div class="toast toast-success" role="alert" aria-live="assertive" id="toastsuccesModify"  aria-atomic="true" style="text-align: center;">
  <strong class="me-auto"></strong>
  <button type="button" class="btn-close" data-bs-dismiss="toast" style="position: absolute; top: 0; right: 0;" aria-label="Close"></button>
  <div class="toast-body">
    Votre Colaborateur a été Modifié avec succès 
  </div>
</div>