 
 <head>
   
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <a  href="https://icons8.com/icon/12964/undo">Undo</a> icon by <a href="https://icons8.com">Icons8</a>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


<style>
</style>
</head>  
<body>


  <div class="sidebar" [class.open]="isSidebarOpen" (mouseenter)="toggleSidebar()" (mouseleave)="toggleSidebar()">
    <div class="logo_details">
      <div class="logo_name"> </div>
      <i class="bx bx-menu" id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <i class="bx bx-search"></i>
        <input type="text" placeholder="Search...">
         <span class="tooltip">Search</span>
      </li>
      <li>
        <a  [routerLink]="['/dashboard']" >
          <i class="bx bx-grid-alt"></i>
          <span class="link_name">Dashboard</span>
        </a>
        <span class="tooltip">Dashboard</span>
      </li>
      <li>
        <a [routerLink]="['/list-client']" >
          <i class="bx bx-user"></i>
          <span class="link_name">Client</span>
        </a>
        <span class="tooltip">Client</span>
      </li>
      <li>
        <a  [routerLink]="['/Prestation']" >
          <i class="bx bx-chat"></i>
          <span class="link_name">Préstation</span>
        </a>
        <span class="tooltip">Préstation</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-pie-chart-alt-2"></i>
          <span class="link_name">Tache</span>
        </a>
        <span class="tooltip">Tache</span>
      </li>
      <li>
        <a [routerLink]="['/list-type-societe']" >
          <i class="bx bx-folder"></i>
          <span class="link_name">Types société</span>
        </a>
        <span class="tooltip">Types D'entreprises</span>
      </li>
      <li>
        <a [routerLink]="['/list-colabs']" >
          <i class='bx bx-user-plus'></i>
          <span class="link_name">Colaborateur</span>
        </a>
        <span class="tooltip">Colaborateur</span>
      </li>
      <li>
        <a [routerLink]="['/listmanager']">
          <i class="bx bxs-group"></i>
          <span class="link_name">Associé</span>
        </a>
        <span class="tooltip">Associé</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-cog"></i>
          <span class="link_name">Settings</span>
        </a>
        <span class="tooltip">Settings</span>
      </li>
      <li class="profile">
        <div class="profile_details">
          <!-- <img src="profile.jpeg" alt="profile image"> -->
          <div class="profile_content">
            <div class="name">Anna Jhon</div>
            <div class="designation">Admin</div>
          </div>
        </div>
        <i class="bx bx-log-out" id="log_out"></i>
      </li>
    </ul>
  </div>
  
  <div class="body-wrapper">
  
    <header class="app-header" style="position: fixed;">
      <nav class="navbar navbar-expand-lg navbar-light" >
        <ul class="navbar-nav">
          <li class="nav-item d-block d-xl-none">
            <a class="nav-link sidebartoggler nav-icon-hover" id="sidebarCollapseButton" data-bs-toggle="offcanvas"
              (click)="toggleSidebar()" data-bs-target="#sidebarCollapse">
              <i class="ti ti-menu-2"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-icon-hover">
              <i class="ti ti-bell-ringing"></i>
              <div class="notification bg-primary rounded-circle"></div>
            </a>

          </li>
         <!-- <li class="nav-item">
            <div  style="margin-left: 500px; margin-top: 6px;">
          <input [disabled]="!id" type="file" id="upload" name="file" class=" btn btn-outline-primary mx-3 mt-2 d-" (change)="changeUpload($event)">
            </div>
          </li> -->


          
        
          <li class="nav-item"  style="margin-left: 953px; margin-top: 14px;">
            <div class="file-input">        
              <input [disabled]="!id"  type="file" id="upload" name="file"  class="file-input__input" (change)="changeUpload($event)" />
              <label class="file-input__label" for="upload">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="upload" class="svg-inline--fa fa-upload fa-w-16"role="img"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path fill="currentColor"
                    d="M296 384h-80c-13.3 0-24-10.7-24-24V192h-87.7c-17.8 0-26.7-21.5-14.1-34.1L242.3 5.7c7.5-7.5 19.8-7.5 27.3 0l152.2 152.2c12.6 12.6 3.7 34.1-14.1 34.1H320v168c0 13.3-10.7 24-24 24zm216-8v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h136v8c0 30.9 25.1 56 56 56h80c30.9 0 56-25.1 56-56v-8h136c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z"></path>
                </svg>
                <span>Upload file</span></label
              >
            </div>
          </li>
          
          
        </ul>
     

        <!-- <div *ngIf="id" style="margin-left: 799px; margin-top: 12px;" class="btn btn-primary" >
          <button class="btn btn-outline-primary mx-3 mt-2 d- " >Parcourir</button> 
          <input type="file" name="file" class="file-upload" (change)="changeUpload($event)">
          <input type="file" (change)="uploadFile($event)">


      </div> -->
        <!-- RECHERCHE BAR -->
        <!-- <form class="position-relative text-center">
          <div class="input-group"
            style="width: 600px; margin-left: 20px; margin-top: 12px; background-color: ghostwhite;">
            <input placeholder="Search..." aria-label="Search" type="search" class="rounded-pill form-control">
            <div class="input-group-prepend">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="svg-inline--fa fa-search fa-w-16 text-400 search-box-icon"
                style="margin-left: -34px;text-align:center;margin-top: 8px;">
                <circle cx="11" cy="11" r="8"></circle>
                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
              </svg>
            </div>
          </div>
        </form> -->

        <!-- Traduction -->
        <!-- <div class="flex items-center gap-2 h-16 ml-auto" style="margin-left: 400px;">
          <div class="dropdown-item">
            <a class="dropdown-toggle" id="Dropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
              <i class="flag-united-kingdom flag m-0"></i>
              <img class="thumb" data-pin-no-hover="true" fetchpriority="high"
                src="../../assets/images/flagfrance.png" style="width: 38px; height: 36px;">
            </a>
          </div>
        </div> -->


        <li>


      
        </li>
     
        <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
          <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
            <a href="https://adminmart.com/product/modernize-free-bootstrap-admin-dashboard/" target="_blank"
              class="btn btn-primary"  style="width: 221px;padding: 6px">Welcome, {{username}}</a>
              <!-- (click)="displaydatauser()" -->
            <li class="nav-item dropdown">
              <a class="nav-link nav-icon-hover"  (click)="displaydatauser()" id="drop2" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img src="../assets/images/profile/user-1.jpg" alt="" width="35" height="35" class="rounded-circle">
              </a>
              <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" id="dropmenuuser"
                aria-labelledby="drop2">
                <div class="message-body">
                  <a class="d-flex align-items-center gap-2 dropdown-item" style="margin-left: 18px;">
                    <i class="ti ti-user fs-6"></i>
                    <p class="mb-0 fs-3" style="font-size: 0.875rem!important;
                      margin-bottom: 0!important;margin-left: -7px;margin-top: 10px;">Mon Profile</p>
                  </a>
                  <!-- (click)="logout()" -->
                  <a  (click)="logout()" style="margin-bottom: 12px;"
                    class="btn btn-outline-primary mx-3 mt-2 d-block">Déconnecter</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>
     
    <div style="margin-top: 30px;" >
      <form   class="d-flex"   style="width: 100%; max-width: 500px; margin: 0 auto; padding: 10px;margin-top:90px; ">
        <input class="form-control me-2"   #searchInput type="search" placeholder="Tous" aria-label="Search"  (input)="onInputChange($event)">
        <button class="btn btn-outline-success" (click)="SearchBy(searchInput.value)" type="submit">Rechercher</button>
       
      </form>

      <div style="margin-left: 95px;margin-top: 12px;">
        <button class="btn btn-outline-primary mx-3 mt-2 d-" [routerLink]="['/nv-client']">Ajouter Client</button>
    </div>
      <div class="table-responsive bg-white">
      <table class="table mb-0" style="padding: 0px;">
        <thead>
          <tr>
            <th class="large-column" scope="col">Raison Sociale</th>
            <th class="small-column" scope="col">RC</th>
            <th class="small-column" scope="col">Forme</th>
            <th class="small-column" scope="col">Capitale</th>
            <th class="small-column" scope="col">Siege</th>
            <th class="small-column" scope="col">IF</th>
            <th class="small-column" scope="col">ICE</th>
            <th class="small-column" scope="col">IP</th>
            <th class="small-column" scope="col">CNSS</th>
            <th class="small-column" scope="col">état</th> 
            <th class="small-column" scope="col">Actions</th>
            <!-- (click) ="listclick(client.id)" -->
           </tr>
        </thead>
        <tbody> 
          <tr    *ngFor="let client  of client"   class="cursor-pointer" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)"  (mouseup)="detecteRightMouseClick($event,client)" >

            <td style="padding-top: 12px; padding-bottom: 6px;">{{client.rs}} </td>
            <td  style="padding-top: 12px; padding-bottom: 6px;">{{client.rc}}</td>
            <td style="padding-top: 12px; padding-bottom: 6px;">{{client.forme}}</td>
            <td style="padding-top: 12px; padding-bottom: 6px;">{{client.capitale}}</td>
            <td style="padding-top: 12px; padding-bottom: 6px;">{{client.siege}}</td>
            <td  style="padding-top: 12px; padding-bottom: 6px;">{{client.i_f}}</td>
            <td  style="padding-top: 12px; padding-bottom: 6px;">{{client.ice}}</td> 
            <td  style="padding-top: 12px; padding-bottom: 6px;">{{client.ip}}</td>
            <td style="padding-top: 12px; padding-bottom: 6px;">{{client.cnss}}</td>
            <td style="padding-top: 12px; padding-bottom: 6px;"> <span class="badge bg-info px-2 py-2"> {{client.etat}}</span></td>
                
              <td class="Actions" style="    cursor: pointer">
                

                <a   class="text-decoration-none text-primary me-2"  *ngIf="client.id"  (click)="passDataModifier(client)"  data-toggle="tooltip" title="modifier">
                  <i class="bi bi-pencil-square"></i>
                </a>
                <a   (click)="passData(client)" data-toggle="tooltip" title="visualiser"  ><i class="bi bi-eye"></i></a> 
                <a  *ngIf="client.id" (click)="openModal(client.id)"   data-toggle="tooltip"  data-bs-placement="top"  title="archiver"><i class="bi bi-archive"></i></a>
               
                <button class="download" data-toggle="tooltip" (click)="openModalfiles(client)"    title="telecharger"  > <i class="bi bi-file-earmark-fill"></i></button> 
              </td>
         
          </tr>
        </tbody>
      </table>
 
    </div>

  

 
<div class="paginator-container">
 
  <mat-paginator [length]="200" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page"></mat-paginator>

</div>
 
  
    </div> 
<img width="48" height="48" src="https://img.icons8.com/color/48/undo.png" class="bottom-link"alt="undo"  routerLink="/dashboard" style="cursor: pointer;"/>

  </div>
 

  <!-- panel action -->
   <div id="contextmenu" class="contextmenu" [ngStyle]="rightPanelStyle" (clickOutside)="CloseContextMenu()" (mouseleave)="CloseContextMenu()">
    <ul>
      <li class="nav-item" style="background-color: white; width:180px;border-radius: 5px;
      border: 1px solid #dbd6d6;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);margin-top: 12px;margin-bottom: 12px;">
        <div aria-labelledby="drop2">
          <div class="message-body">
            <a class="btn btn-outline-primary mx-3 mt-2 d-block" style="margin-left: 18px;"  >modifier</a>
            <a style="margin-bottom: 12px;" (click)="passData(client)"   class="btn btn-outline-primary mx-3 mt-2 d-block">visualiser</a>
            <a style="margin-bottom: 12px;" class="btn btn-outline-primary mx-3 mt-2 d-block" (click)="openModal(client?.id)"  >Archiver</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  
  

</body> 

<!-- Archivage -->
<div class="modal" tabindex="-1" id="modelaction">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Message de confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="CloseModel()"></button>
      </div>
      <div class="modal-body">
        <p>Etes-vous sûr de vouloir archiver ce dossier ? .</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="CloseModel()" style="padding: 6px;width: 70px;">Fermer</button>
        <button type="button"  *ngIf="selectedclientId" (click)="onDelete(selectedclientId)" class="btn btn-primary" style="padding: 6px;width: 70px;">oui</button>
      </div>
    </div>
  </div>
</div>
 

<!-- detail files telecharger -->

<div class="modal" tabindex="-1" id="modelfiles">
  <div class="modal-dialog" style="text-align: center;margin-left: 298px;margin-top: 90px;">
    <div class="modal-content" style="width: 900px;padding: 10px;">
      <div class="modal-header" style="padding: 10px;">
        <h5 class="modal-title">Télechargement des fichiers</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="CloseModelfiles()" ></button>
      </div>
    
        <div class="modal-body" style="padding: 10px;">
          <table class="table mb-0" style="padding: 10px;">
            <thead>
              <tr>
                <th class="large-column" scope="col">Nom fichier</th>
                <th class="small-column" scope="col">chemin de fichier</th>
               
  
  
              </tr>
            </thead>
            <tbody style="padding: 10px;"> 
              
              <tr *ngFor="let attachment of attachments" class="cursor-pointer" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)">
                <ng-container>
                <td style="padding-top: 8px; padding-bottom: 6px;">{{ attachment.name }}</td>
                <td style="padding-top: 8px; padding-bottom: 6px;">{{ attachment.imagePath }}</td>
                <td class="Actions">
           
                  <button class="download" data-toggle="tooltip" title="telecharger" (click)="downloadFileById(attachment)">
                    <i class="bi bi-download"></i>
                  </button>
          
                </td>
              </ng-container>
          
            </tbody>
           
          </table>
        </div>
     
      <div class="modal-footer" style="margin-top: 30px;">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="CloseModel()" style="padding: 6px;width: 70px;">Fermer</button> -->
        <button type="button" (click)="CloseModelfiles()"   class="btn btn-primary" style="padding: 6px;width: 70px;">OK</button> 
      </div>
    </div>
  </div>
</div>



<!-- detail prestation -->







<div class="toast toast-success" role="alert" aria-live="assertive" id="toastsucces"  aria-atomic="true" style="text-align: center;">
<strong class="me-auto"></strong>
<button type="button" class="btn-close" data-bs-dismiss="toast" style="position: absolute; top: 0; right: 0;" aria-label="Close"></button>
<div class="toast-body">
  Le dossier a été archivé avec succès.
</div>
</div>

 
  