<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      /* body {
        zoom: 90%;
      } */
  
      @media (max-width: 767px) {
        body {
          zoom: 85%;
        }
  
        .left-sidebar {
          margin-left: 0;
        }
      }
    </style>
  </head>
  
  
  
  <body>
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
      data-sidebar-position="fixed" data-header-position="fixed">
  
      <aside #sidebar class="left-sidebar" 
      [style.marginLeft]="isSidebarExpanded ? '0' : '270px'">
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="./index.html" class="text-nowrap logo-img">
            <img src="../assets/images/el_maguiri_logo-removebg-preview.png" style="margin-left: 71px;" width="80"
              alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" data-bs-toggle="offcanvas"
            (click)="closesidebar()" data-bs-target="#sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>

        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Dashboard</span>
            </li>
            <li class="sidebar-item" routerLinkActive="active">
              <a class="sidebar-link" [routerLink]="['/dashboard']" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Tableau de bord</span>
              </a>
            </li>
            <li class="nav-small-cap" routerLinkActive="active">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Client</span>
            </li>
           
            <li class="sidebar-item" routerLinkActive="active">
              <a class="sidebar-link" [routerLink]="['/list-client']" aria-expanded="false">
                <span>
                  <i class="ti ti-file-description"></i>

                </span>
                <span class="hide-menu">Clients</span>
              </a>
            </li>
            <!-- <li class="sidebar-item">
              <a class="sidebar-link" href="./ui-card.html" aria-expanded="false">
                <span>
                  <i class="ti ti-cards"></i>
                </span>
                <span class="hide-menu">Progrès du Dossier</span>
              </a>
            </li> -->
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Préstations</span>
            </li>
            <li class="sidebar-item" routerLinkActive="active">
              <a class="sidebar-link" [routerLink]="['/Prestation']" aria-expanded="false">
                <span>
                  <i class="bi bi-plus-circle-fill"></i>
                  <!-- <i class="bi bi-list-task"></i>   -->
                </span>
                <span class="hide-menu">Préstations</span>
              </a>

            </li>

            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Taches</span>
            </li>
            <li class="sidebar-item" routerLinkActive="active">
              <a class="sidebar-link"   aria-expanded="false">
                <span>
                  <i class="bi bi-plus-circle-fill"></i>
                  <!-- <i class="bi bi-list-task"></i>   -->
                </span>
                <span class="hide-menu">Tache</span>
              </a>

            </li>
            


            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Paramaitre</span>
            </li> 
            <li class="sidebar-item" routerLinkActive="active">
              <a class="sidebar-link" aria-expanded="false">
                <span>
                  <i class="bi bi-person-fill-lock"></i>
                </span>
                <span class="hide-menu"> Types D'entreprises </span>
              </a>
            </li>


          </ul>

        </nav>

      </div>

    </aside>
  
      <div class="body-wrapper" >
  
        <header class="app-header" style="position: fixed;">
          <nav class="navbar navbar-expand-lg navbar-light" style="padding: 0px; margin: 0px;">
            <ul class="navbar-nav">
              <li class="nav-item d-block d-xl-none">
                <a class="nav-link sidebartoggler nav-icon-hover" id="sidebarCollapseButton" data-bs-toggle="offcanvas"
                  (click)="toggleSidebar()" data-bs-target="#sidebarCollapse">
                  <i class="ti ti-menu-2"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-icon-hover">
                  <i class="ti ti-bell-ringing"></i>
                  <div class="notification bg-primary rounded-circle"></div>
                </a>
              </li>
            </ul>
  
            <!-- RECHERCHE BAR -->
            <form class="position-relative text-center">
              <div class="input-group"
                style="width: 600px; margin-left: 20px; margin-top: 12px; background-color: ghostwhite;">
                <input placeholder="Search..." aria-label="Search" type="search" class="rounded-pill form-control">
                <div class="input-group-prepend">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="svg-inline--fa fa-search fa-w-16 text-400 search-box-icon"
                    style="margin-left: -34px;text-align:center;margin-top: 8px;">
                    <circle cx="11" cy="11" r="8"></circle>
                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                  </svg>
                </div>
              </div>
            </form>
  
            <!-- Traduction -->
            <div class="flex items-center gap-2 h-16 ml-auto" style="margin-left: 380px;">
              <div class="dropdown-item">
                <a class="dropdown-toggle" id="Dropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                  <i class="flag-united-kingdom flag m-0"></i>
                  <img class="thumb" data-pin-no-hover="true" fetchpriority="high"
                    src="../../assets/images/flagfrance.png" style="width: 38px; height: 36px;">
                </a>
              </div>
            </div>
  
            <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
              <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                <a href="https://adminmart.com/product/modernize-free-bootstrap-admin-dashboard/" target="_blank"
                  class="btn btn-primary"> Welcome, {{username}}</a>
              
                <li class="nav-item dropdown">
                  <a class="nav-link nav-icon-hover" (click)="displaydatauser()" id="drop2" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <img src="../assets/images/profile/user-1.jpg" alt="" width="35" height="35" class="rounded-circle">
                  </a>
                  <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" id="dropmenuuser"
                    aria-labelledby="drop2">
                    <div class="message-body">
                      <a class="d-flex align-items-center gap-2 dropdown-item">
                        <i class="ti ti-user fs-6"></i>
                        <p class="mb-0 fs-3">Mon Profile</p>
                      </a>
                      <a (click)="logout()"
                        class="btn btn-outline-primary mx-3 mt-2 d-block">Déconnecter</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
        </header>
  
        <main style="margin-top: 90px;">
  
             <div class="container" *ngIf="!element">
                <div class="row">
                    <form [formGroup]="ClientForm">
                      <div class="row justify-content-center align-items-center" style="margin-left: 600px;">
                        <div class="col-6">
                          <div class="action text-center"  [ngClass]="{'fixed-button': showFixedButton}" style="display: flex; gap: 10px; font-size: 18px;margin-top: -20px;">
                            <a class="btn btn-outline-primary mx-4 mt-6 d-block" id="btnannuler" [routerLink]="['/list-client']">Annuler</a>
                            <button type="submit" class="btn btn-outline-primary mx-4 mt-6 d-block-clt" id="btncloturer" (click)="OnSubmit()">
                              <i class="bi bi-check-circle"></i> Enregistrer Client
                            </button>
                          </div> 
                        </div>
                      </div>  
                    <div class="col-md-12 mb-3">
                      <div class="card dossier-card">
                        <div class="card-body">
                          <h5 class="card-title mb-0">Identification</h5>
                          <hr class="flex-grow-1" style="border-top: 1px solid #ccc;margin-top: -9px;">
        
                          <div class="d-flex flex-wrap mb-3" style="margin-top: 30px;">
                            <div class="mb-3 d-flex">
                              <div class="me-3" style="width: 150px;">
                                <label for="rs" class="label rs">Raison Sociale :</label>
                              </div>
                              <div style="width: 400px;">
                                <input type="text" class="form-control custom-sinput" id="rs" formControlName="rs"
                                  placeholder="Raison Sociale">
                              </div>
                              <div
                              *ngIf="ClientForm.get('rs')?.hasError('required') && (ClientForm.get('rs')?.touched ||ClientForm.get('rs')?.dirty)"
                              class="text-danger">
                              registre Commerce  est obligatoire.
                            </div>
                            </div>
        
        
                            <div class="mb-3 d-flex">
                              <div class="me-3" style="width: 150px;">
                                <label for="propriete" class="label rs" style="margin-left: 44px;">Propriétaire :</label>
                              </div>
                              <div style="width: 200px;">
                                <input type="text" class="form-control custom-sinput" id="propriete" formControlName="propriete"
                                  placeholder="Propriétaire">
                              </div>
                              <div
                              *ngIf="ClientForm.get('propriete')?.hasError('required') && (ClientForm.get('propriete')?.touched ||ClientForm.get('propriete')?.dirty)"
                              class="text-danger">
                              Propriétaire  est obligatoire.
                            </div>
                            </div>
         
        
                            <div class="mb-3 d-flex" style="margin-top: 12px;">
                              <div class="me-3" style="width: 150px;">
                                <label for="ctNum" class="label rs me-3">Numéro client :</label>
                              </div>
                              <div style="width: 400px;">
                                <input type="text" class="form-control custom-sinput" id="ctNum"
                                  formControlName="ctNum" placeholder="Numéro client ">
                              </div>
                              <div
                              *ngIf="ClientForm.get('ctNum')?.hasError('required') && (ClientForm.get('ctNum')?.touched ||ClientForm.get('ctNum')?.dirty)"
                              class="text-danger">
                              Numero de client  est obligatoire.
                            </div>
        
                            </div>
                            
        
                            
                            <div class="mb-3 d-flex" style="margin-top: 12px">
                              <div class="me-3" style="width: 150px">
                                <label for="Qualite" style="margin-left: 50px;" class="label rs me-3">Qualité :</label>
                              </div>
                              <div style="width: 200px;">
                                <input type="text" class="form-control custom-sinput" id="qualite"
                                  formControlName="qualite" >
                              </div>
                              <div
                              *ngIf="ClientForm.get('qualite')?.hasError('required') && (ClientForm.get('qualite')?.touched ||ClientForm.get('qualite')?.dirty)"
                              class="text-danger">
                              Qualité  est obligatoire.
                            </div>
        
                            </div>
        
                            <div class="mb-3 d-flex" style="margin-top: 12px;">
                              <div class="me-3" style="width: 150px;">
                                <label for="cmt" class="label rs me-3">Commentaire :</label>
                              </div>
                              <div style="width: 765px;">
                                <input type="text" class="form-control custom-sinput" id="cmt" formControlName="cmt"
                                  placeholder="">
                              </div>
                              <div
                              *ngIf="ClientForm.get('cmt')?.hasError('required') && (ClientForm.get('cmt')?.touched ||ClientForm.get('cmt')?.dirty)"
                              class="text-danger">
                              commentaire  est obligatoire.
                            </div>
        
                            </div>
                            
        
                          </div>
                        </div>
                      </div>
                    </div>
        
        
                      <div class="col-md-12 mb-3">
                      <div class="card dossier-card">
                        <div class="card-body">
                          <h5 class="card-title mb-0">Coordonnées</h5>
                          <hr class="flex-grow-1" style="border-top: 1px solid #ccc;margin-top: -9px;">
        
                          <div class="d-flex flex-wrap mb-3" style="margin-top: 30px;">
                            <div class="mb-3 d-flex" style="margin-top: 12px;">
                              <div class="me-3" style="width: 150px;">
                                <label for="Adresse" class="label rs me-3">Adresse:</label>
                              </div>
                              <div style="width: 765px;">
                                <input type="text" class="form-control custom-sinput" id="Adresse" formControlName="adresse"
                                  placeholder="83, Boulevard Hassan 2">
                              </div>
                              <div
                              *ngIf="ClientForm.get('adresse')?.hasError('adresse') && (ClientForm.get('adresse')?.touched ||ClientForm.get('adresse')?.dirty)"
                              class="text-danger">
                              Adresse  est obligatoire.
                            </div>
        
                            </div>
                            <div class="mb-3 d-flex" style="margin-top: 12px;">
                              <div class="me-3" style="width: 150px;">
                                <label for="Complement" class="label rs me-3">Complément:</label>
                              </div>
                              <div style="width: 765px;">
                                <input type="text" class="form-control custom-sinput" id="complement" formControlName="complement">
                              </div>
                              <div
                              *ngIf="ClientForm.get('complement')?.hasError('complement') && (ClientForm.get('complement')?.touched ||ClientForm.get('complement')?.dirty)"
                              class="text-danger">
                              Complément  est obligatoire.
                            </div>
        
                            </div>
                            <div class="mb-3 d-flex">
                                <div class="me-3" style="width: 150px;">
                                  <label for="Siège" class="label rs" style="margin-left: 20px;">Siège :</label>
                                </div>
                                <div style="width: 765px;">
                                  <input type="text" class="form-control custom-sinput" id="Siège" formControlName="siege"
                                    placeholder="Siège">
                                </div>
                                <div
                              *ngIf="ClientForm.get('siege')?.hasError('siege') && (ClientForm.get('siege')?.touched ||ClientForm.get('siege')?.dirty)"
                              class="text-danger">
                              Siège  est obligatoire.
                            </div>
                              </div>
                            <div class="mb-3 d-flex">
                              <div class="me-3" style="width: 150px;">
                                <label for="CodePostal" class="label rs">Code Postal :</label>
                              </div>
                              <div style="width: 400px;">
                                <input type="text" class="form-control custom-sinput" id="CodePostal" formControlName="codepostal"
                                  placeholder="13000">
                              </div>
                              <div
                              *ngIf="ClientForm.get('codepostal')?.hasError('codepostal') && (ClientForm.get('codepostal')?.touched ||ClientForm.get('codepostal')?.dirty)"
                              class="text-danger">
                              Code Postal  est obligatoire.
                            </div>
                            </div>
        
        
                            <div class="mb-3 d-flex">
                              <div class="me-3" style="width: 150px;">
                                <label for="ville" class="label rs" style="margin-left: 44px;">Ville :</label>
                              </div>
                              <div style="width: 200px;">
                                <input type="text" class="form-control custom-sinput" id="ville" formControlName="ville"
                                  placeholder="Casablanca">
                              </div>
                              <div
                              *ngIf="ClientForm.get('ville')?.hasError('ville') && (ClientForm.get('ville')?.touched ||ClientForm.get('ville')?.dirty)"
                              class="text-danger">
                              ville est obligatoire.
                            </div>
                            </div>
        
                            <div class="mb-3 d-flex">
                              <div class="me-3" style="width: 150px;">
                                <label for="CodeRegion" class="label rs">Région :</label>
                              </div>
                              <div style="width: 400px;">
                                <input type="text" class="form-control custom-sinput" id="CodeRegion" formControlName="coderegion"
                                  placeholder="1233">
                              </div>
                              <div
                              *ngIf="ClientForm.get('coderegion')?.hasError('coderegion') && (ClientForm.get('coderegion')?.touched ||ClientForm.get('coderegion')?.dirty)"
                              class="text-danger">
                              Région est obligatoire.
                            </div>
                            </div>
        
        
                            <div class="mb-3 d-flex">
                              <div class="me-3" style="width: 150px;">
                                <label for="Pays" class="label rs" style="margin-left: 44px;">Pays:</label>
                              </div>
                              <div style="width: 200px;">
                                <input type="text" class="form-control custom-sinput" id="Pays" formControlName="pays"
                                  placeholder="Maroc">
                              </div>
                              <div
                              *ngIf="ClientForm.get('pays')?.hasError('pays') && (ClientForm.get('pays')?.touched ||ClientForm.get('pays')?.dirty)"
                              class="text-danger">
                              Pays est obligatoire.
                            </div>
                            </div>
                               
                            <div class="mb-3 d-flex" style="margin-top: 12px;">
                                <div class="me-3" style="width: 150px;">
                                  <label for="Email" class="label rs me-3">Email:</label>
                                </div>
                                <div style="width: 765px;">
                                  <input type="Email" class="form-control custom-sinput" id="Email" formControlName="email"
                                    placeholder="@example.com">
                                </div>
                                <div
                                *ngIf="ClientForm.get('email')?.hasError('email') && (ClientForm.get('email')?.touched ||ClientForm.get('email')?.dirty)"
                                class="text-danger">
                                Email est obligatoire.
                              </div>
                              </div>
                              <div class="mb-3 d-flex">
                                <div class="me-3" style="width: 150px;">
                                  <label for="Telephone" class="label rs">Téléphone :</label>
                                </div>
                                <div style="width: 400px;">
                                  <input type="text" class="form-control custom-sinput" id="tel" formControlName="tel"
                                    placeholder="05 46 66 77 77 ">
                                </div>
                                <div
                                *ngIf="ClientForm.get('tel')?.hasError('tel') && (ClientForm.get('tel')?.touched ||ClientForm.get('tel')?.dirty)"
                                class="text-danger">
                                Téléphone est obligatoire.
                              </div>
                              </div>
          
          
                              <div class="mb-3 d-flex">
                                <div class="me-3" style="width: 150px;">
                                  <label for="telcopie " class="label rs" style="margin-left: 44px;">Télécopie :</label>
                                </div>
                                <div style="width: 200px;">
                                  <input type="text" class="form-control custom-sinput" id="Telecopie" formControlName="telcopie"
                                    placeholder="05 46 66 77 77">
                                </div>
                                <div
                                *ngIf="ClientForm.get('telcopie')?.hasError('telcopie') && (ClientForm.get('telcopie')?.touched ||ClientForm.get('telcopie')?.dirty)"
                                class="text-danger">
                                Telecopie est obligatoire.
                              </div>
                              </div>
        
                          </div>
                        </div>
                      </div>
                    </div>
        
                   <div class="col-md-12 mb-3">
                      <div class="card dossier-card">
                        <div class="card-body">
                          <h5 class="card-title mb-0">Immatriculation</h5>
                          <hr class="flex-grow-1" style="border-top: 1px solid #ccc;margin-top: -9px;">
        
                          <div class="d-flex flex-wrap mb-3" style="margin-top: 30px;">
                              
                           
                             
                            <div class="d-flex flex-wrap mb-3" style="margin-top: 16px;">
                                <div class="mb-3 d-flex">
                                  <div class="me-3" style="width: 150px;">
                                    <label for="forme" class="label rs">Forme :</label>
                                  </div>
                                  <div style="width:300px;">
                                    <input type="text" class="form-control custom-sinput" id="forme" formControlName="forme"
                                      placeholder="Forme">
                                  </div>
                                  <div
                                *ngIf="ClientForm.get('forme')?.hasError('forme') && (ClientForm.get('forme')?.touched ||ClientForm.get('forme')?.dirty)"
                                class="text-danger">
                                Forme est obligatoire.
                              </div>
                                </div>
            
            
                                <div class="mb-3 d-flex">
                                  <div class="me-3" style="width: 150px;">
                                    <label for="capitale" class="label rs" style="margin-left: 50px;">Capitale :</label>
                                  </div>
                                  <div style="width: 300px;">
                                    <input type="text" class="form-control custom-sinput" id="capitale" formControlName="capitale"
                                      placeholder="Capitale">
                                  </div>
                                  <div
                                *ngIf="ClientForm.get('capitale')?.hasError('capitale') && (ClientForm.get('capitale')?.touched ||ClientForm.get('capitale')?.dirty)"
                                class="text-danger">
                                Forme est obligatoire.
                              </div>
                                </div>
                               
                              </div>
         
                              <div class="d-flex flex-wrap mb-3">
                                <div class="mb-3 d-flex">
                                  <div class="me-3" style="width: 80px;">
                                    <label for="rc" class="label rs">RC :</label>
                                  </div>
                                  <div style="width: 200px; margin-left: 71px;">
                                    <input type="text" class="form-control custom-sinput" id="rc" formControlName="rc"
                                      placeholder="rc">
                                  </div>
                                  <div
                                  *ngIf="ClientForm.get('rc')?.hasError('rc') && (ClientForm.get('rc')?.touched ||ClientForm.get('rc')?.dirty)"
                                  class="text-danger">
                                  rc est obligatoire.
                                </div>
                                </div>
            
            
                                <div class="mb-3 d-flex">
                                  <div class="me-3" style="width: 80px;">
                                    <label for="if" class="label rs" style="margin-left: 20px;">IF :</label>
                                  </div>
                                  <div style="width: 200px;">
                                    <input type="text" class="form-control custom-sinput" id="if" formControlName="i_f"
                                      placeholder="if">
                                  </div>
                                  <div
                                  *ngIf="ClientForm.get('i_f')?.hasError('i_f') && (ClientForm.get('i_f')?.touched ||ClientForm.get('i_f')?.dirty)"
                                  class="text-danger">
                                  i_f est obligatoire.
                                </div>
                                </div>
                                <div class="mb-3 d-flex">
                                  <div class="me-3" style="width: 80px;margin-left: -22px;">
                                    <label for="ice" class="label rs" style="margin-left: 30px;">ICE :</label>
                                  </div>
                                  <div style="width: 200px;">
                                    <input type="text" class="form-control custom-sinput" id="ice" formControlName="ice"
                                      placeholder="ice">
                                  </div>
                                  <div
                                  *ngIf="ClientForm.get('ice')?.hasError('ice') && (ClientForm.get('ice')?.touched ||ClientForm.get('ice')?.dirty)"
                                  class="text-danger">
                                  ice est obligatoire.
                                </div>
                                </div>

                                <div class="mb-3 d-flex" style="margin-top: 12px;">
                                    <div class="me-3" style="width: 150px;">
                                      <label for="IP" class="label rs me-3" >IP :</label>
                                    </div>
                                    <div style="width: 200px;">
                                      <input type="text" class="form-control custom-sinput" id="IP"
                                        formControlName="ip" placeholder="IP">
                                    </div>
                                    <div
                                    *ngIf="ClientForm.get('ip')?.hasError('ip') && (ClientForm.get('ip')?.touched ||ClientForm.get('ip')?.dirty)"
                                    class="text-danger">
                                    ip est obligatoire.
                                  </div>
              
                                  </div>
                                  <div class="mb-3 d-flex" style="margin-top: 12px;">
                                    <div class="me-3" style="width: 150px;">
                                      <label for="cnss" class="label rs me-3" style="margin-left: 20px;">CNSS :</label>
                                    </div>
                                    <div style="width: 300px;">
                                      <input type="text" class="form-control custom-sinput" id="cnss"
                                        formControlName="cnss" placeholder="CNSS">
                                    </div>
                                    <div
                                    *ngIf="ClientForm.get('cnss')?.hasError('cnss') && (ClientForm.get('cnss')?.touched ||ClientForm.get('cnss')?.dirty)"
                                    class="text-danger">
                                    cnss est obligatoire.
                                  </div>
              
                                  </div>
                                  <!-- [(ngModel)]="selectedTypeSociete" name="typesociete" *ngFor="let type of typesocietes {{ type.nom }}  [value]="type.id"" -->
                                  <div class="mb-3 d-flex" style="margin-top: 12px;">
                                    <div class="me-3" style="width: 150px;">
                                      <label for="IP" class="label rs me-3">Type Entreprise :</label>
                                    </div>
                                    <div style="width: 600px;">
                                      <select id="typesociete" formControlName="typesociete" style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px;">
                                        <option  value="" disabled selected>Choose TypeSociete</option>
                                        <option *ngFor="let name of typesocieteNames" [value]="name">{{ name }}</option>
               
                                      </select>
                                    </div>
                                    <div
                                    *ngIf="ClientForm.get('typesociete')?.hasError('typesociete') && (ClientForm.get('typesociete')?.touched || ClientForm.get('typesociete')?.dirty)"
                                    class="text-danger">
                                    type De Societe est obligatoire.
                                  </div>
              
                                  </div>
                              </div>
        
        
                          </div>
                        </div>
                      </div>
                    </div> 
        
                   
                  
                  </form>
                </div>
             </div> 
            
 


              <!-- form of update -->
              <div class="container" *ngIf="element">
                <div class="row">
                    <form   *ngIf="selectedData" #clientupdate="ngForm" (ngSubmit)="OnUpdate(clientupdate.value)"   > 
                      <div class="row justify-content-center align-items-center" style="margin-left: 600px; margin-top: -20px;
                      margin-bottom: 1px;">
                        <div class="col-6">
                          <div class="action text-center" [ngClass]="{'fixed-button': showFixedButton}" style="display: flex; gap: 10px; font-size: 18px;">
                            <a class="btn btn-outline-primary mx-4 mt-6 d-block" id="btnannuler" [routerLink]="['/list-client']">Annuler</a>
                            <button type="submit" class="btn btn-outline-primary mx-4 mt-6 d-block-clt" id="btncloturer" (click)="OnSubmit()">
                              <i class="bi bi-check-circle"></i> Modifier Client
                            </button>
                          </div> 
                        </div>
                      </div>
                    <div class="col-md-12 mb-3">
                      <div class="card dossier-card">
                        <div class="card-body">
                          <h5 class="card-title mb-0">Identification</h5>
                          <hr class="flex-grow-1" style="border-top: 1px solid #ccc;margin-top: -9px;">
        
                          <div class="d-flex flex-wrap mb-3" style="margin-top: 30px;">
                            <div class="mb-3 d-flex">
                              <div class="me-3" style="width: 150px;">
                                <label for="rs" class="label rs">Raison Sociale :</label>
                              </div>
                              <div style="width: 400px;">
                                <input type="text" class="form-control custom-sinput" id="rs"  [(ngModel)]="selectedData.rs" [ngModelOptions]="{standalone: true}">
                              </div>
                            </div>
        
        
                            <div class="mb-3 d-flex">
                              <div class="me-3" style="width: 150px;">
                                <label for="propriete" class="label rs" style="margin-left: 44px;">Propriétaire :</label>
                              </div>
                              <div style="width: 200px;">
                                <input type="text" class="form-control custom-sinput" id="propriete" [(ngModel)]="selectedData.propriete" [ngModelOptions]="{standalone: true}">
                              </div>
                            </div>
         
        
                            <div class="mb-3 d-flex" style="margin-top: 12px;">
                              <div class="me-3" style="width: 150px;">
                                <label for="ctNum" class="label rs me-3">Numéro client :</label>
                              </div>
                              <div style="width: 400px;">
                                <input type="text" class="form-control custom-sinput" id="ctNum"
                                [(ngModel)]="selectedData.ctNum" [ngModelOptions]="{standalone: true}">
                              </div>
        
                            </div>
                            
        
                            
                            <div class="mb-3 d-flex" style="margin-top: 12px">
                              <div class="me-3" style="width: 150px">
                                <label for="Qualite" style="margin-left: 50px;" class="label rs me-3">Qualité :</label>
                              </div>
                              <div style="width: 200px;">
                                <input type="text" class="form-control custom-sinput" [(ngModel)]="selectedData.qualite" [ngModelOptions]="{standalone: true}">
                              </div>
        
                            </div>
        
                            <div class="mb-3 d-flex" style="margin-top: 12px;">
                              <div class="me-3" style="width: 150px;">
                                <label for="cmt" class="label rs me-3">Commentaire :</label>
                              </div>
                              <div style="width: 765px;">
                                <input type="text" class="form-control custom-sinput" id="cmt"   [(ngModel)]="selectedData.cmt" [ngModelOptions]="{standalone: true}">
                              </div>
        
                            </div>
                            
        
                          </div>
                        </div>
                      </div>
                    </div>
        
        
                      <div class="col-md-12 mb-3">
                      <div class="card dossier-card">
                        <div class="card-body">
                          <h5 class="card-title mb-0">Coordonnées</h5>
                          <hr class="flex-grow-1" style="border-top: 1px solid #ccc;margin-top: -9px;">
        
                          <div class="d-flex flex-wrap mb-3" style="margin-top: 30px;">
                            <div class="mb-3 d-flex" style="margin-top: 12px;">
                              <div class="me-3" style="width: 150px;">
                                <label for="Adresse" class="label rs me-3">Adresse:</label>
                              </div>
                              <div style="width: 765px;">
                                <input type="text" class="form-control custom-sinput" id="Adresse"  [(ngModel)]="selectedData.adresse" [ngModelOptions]="{standalone: true}">
                              </div>
        
                            </div>
                            <div class="mb-3 d-flex" style="margin-top: 12px;">
                              <div class="me-3" style="width: 150px;">
                                <label for="Complement" class="label rs me-3">Complément:</label>
                              </div>
                              <div style="width: 765px;">
                                <input type="text" class="form-control custom-sinput" id="complement" [(ngModel)]="selectedData.complement" [ngModelOptions]="{standalone: true}" >
                              </div>
        
                            </div>
                            <div class="mb-3 d-flex">
                                <div class="me-3" style="width: 150px;">
                                  <label for="Siège" class="label rs" style="margin-left: 20px;">Siège :</label>
                                </div>
                                <div style="width: 765px;">
                                  <input type="text" class="form-control custom-sinput" id="Siège" [(ngModel)]="selectedData.siege" [ngModelOptions]="{standalone: true}" 
>
                                </div>
                              </div>
                            <div class="mb-3 d-flex">
                              <div class="me-3" style="width: 150px;">
                                <label for="CodePostal" class="label rs">Code Postal :</label>
                              </div>
                              <div style="width: 400px;">
                                <input type="text" class="form-control custom-sinput" id="CodePostal" [(ngModel)]="selectedData.codepostal" [ngModelOptions]="{standalone: true}">
                              </div>
                            </div>
        
        
                            <div class="mb-3 d-flex">
                              <div class="me-3" style="width: 150px;">
                                <label for="ville" class="label rs" style="margin-left: 44px;">Ville :</label>
                              </div>
                              <div style="width: 200px;">
                                <input type="text" class="form-control custom-sinput" id="ville" [(ngModel)]="selectedData.ville" [ngModelOptions]="{standalone: true}"  >
                              </div>
                            </div>
        
                            <div class="mb-3 d-flex">
                              <div class="me-3" style="width: 150px;">
                                <label for="CodeRegion" class="label rs">Région :</label>
                              </div>
                              <div style="width: 400px;">
                                <input type="text" class="form-control custom-sinput" id="CodeRegion"  [(ngModel)]="selectedData.coderegion" [ngModelOptions]="{standalone: true}">
                              </div>
                            </div>
        
        
                            <div class="mb-3 d-flex">
                              <div class="me-3" style="width: 150px;">
                                <label for="Pays" class="label rs" style="margin-left: 44px;">Pays:</label>
                              </div>
                              <div style="width: 200px;">
                                <input type="text" class="form-control custom-sinput" id="Pays"  [(ngModel)]="selectedData.pays" [ngModelOptions]="{standalone: true}" >
                              </div>
                            </div>
                               
                            <div class="mb-3 d-flex" style="margin-top: 12px;">
                                <div class="me-3" style="width: 150px;">
                                  <label for="Email" class="label rs me-3">Email:</label>
                                </div>
                                <div style="width: 765px;">
                                  <input type="Email" class="form-control custom-sinput" id="Email" [(ngModel)]="selectedData.email" [ngModelOptions]="{standalone: true}">
                                </div>
                              </div>
                              <div class="mb-3 d-flex">
                                <div class="me-3" style="width: 150px;">
                                  <label for="Telephone" class="label rs">Téléphone :</label>
                                </div>
                                <div style="width: 400px;">
                                  <input type="text" class="form-control custom-sinput" id="tel" [(ngModel)]="selectedData.tel" [ngModelOptions]="{standalone: true}">
                                </div>
                              </div>
          
          
                              <div class="mb-3 d-flex">
                                <div class="me-3" style="width: 150px;">
                                  <label for="Telecopie " class="label rs" style="margin-left: 44px;">Télécopie :</label>
                                </div>
                                <div style="width: 200px;">
                                  <input type="text" class="form-control custom-sinput" id="Telecopie"  [(ngModel)]="selectedData.telcopie" [ngModelOptions]="{standalone: true}" >
                                </div>
                              </div>
        
                          </div>
                        </div>
                      </div>
                    </div>
        
                   <div class="col-md-12 mb-3">
                      <div class="card dossier-card">
                        <div class="card-body">
                          <h5 class="card-title mb-0">Immatriculation</h5>
                          <hr class="flex-grow-1" style="border-top: 1px solid #ccc;margin-top: -9px;">
        
                          <div class="d-flex flex-wrap mb-3" style="margin-top: 30px;">
                              
                           
                             
                            <div class="d-flex flex-wrap mb-3" style="margin-top: 16px;">
                                <div class="mb-3 d-flex">
                                  <div class="me-3" style="width: 150px;">
                                    <label for="forme" class="label rs">Forme :</label>
                                  </div>
                                  <div style="width:300px;">
                                    <input type="text" class="form-control custom-sinput" id="forme"    [(ngModel)]="selectedData.forme" [ngModelOptions]="{standalone: true}">
                                  </div>
                                </div>
            
            
                                <div class="mb-3 d-flex">
                                  <div class="me-3" style="width: 150px;">
                                    <label for="capitale" class="label rs" style="margin-left: 50px;">Capitale :</label>
                                  </div>
                                  <div style="width: 300px;">
                                    <input type="text" class="form-control custom-sinput" id="capitale"  [(ngModel)]="selectedData.capitale" [ngModelOptions]="{standalone: true}"
                                      placeholder="Capitale">
                                  </div>
                                </div>
                               
                              </div>
         
                              <div class="d-flex flex-wrap mb-3">
                                <div class="mb-3 d-flex">
                                  <div class="me-3" style="width: 80px;">
                                    <label for="rc" class="label rs">RC :</label>
                                  </div>
                                  <div style="width: 200px; margin-left: 71px;">
                                    <input type="text" class="form-control custom-sinput" id="rc" [(ngModel)]="selectedData.rc" [ngModelOptions]="{standalone: true}">
                                  </div>
                                </div>
            
            
                                <div class="mb-3 d-flex">
                                  <div class="me-3" style="width: 80px;">
                                    <label for="if" class="label rs" style="margin-left: 20px;">IF :</label>
                                  </div>
                                  <div style="width: 200px;">
                                    <input type="text" class="form-control custom-sinput" id="if" [(ngModel)]="selectedData.i_f" [ngModelOptions]="{standalone: true}">
                                  </div>
                                </div>
                                <div class="mb-3 d-flex">
                                  <div class="me-3" style="width: 80px;margin-left: -22px;">
                                    <label for="ice" class="label rs" style="margin-left: 30px;">ICE :</label>
                                  </div>
                                  <div style="width: 200px;">
                                    <input type="text" class="form-control custom-sinput" id="ice" [(ngModel)]="selectedData.ice" [ngModelOptions]="{standalone: true}"
                                      placeholder="ice">
                                  </div>
                                </div>

                                <div class="mb-3 d-flex" style="margin-top: 12px;">
                                    <div class="me-3" style="width: 150px;">
                                      <label for="IP" class="label rs me-3" >IP :</label>
                                    </div>
                                    <div style="width: 200px;">
                                      <input type="text" class="form-control custom-sinput" id="ip" [(ngModel)]="selectedData.ip" [ngModelOptions]="{standalone: true}">
                                    </div>
              
                                  </div>
                                  <div class="mb-3 d-flex" style="margin-top: 12px;">
                                    <div class="me-3" style="width: 150px;">
                                      <label for="cnss" class="label rs me-3" style="margin-left: 20px;">CNSS :</label>
                                    </div>
                                    <div style="width: 300px;">
                                      <input type="text" class="form-control custom-sinput" id="cnss" [(ngModel)]="selectedData.cnss" [ngModelOptions]="{standalone: true}">
                                    </div>
              
                                  </div>
                                  <!-- [(ngModel)]="selectedTypeSociete" name="typesociete" *ngFor="let type of typesocietes {{ type.nom }}  [value]="type.id"" -->
                                  <div class="mb-3 d-flex" style="margin-top: 12px;">
                                    <div class="me-3" style="width: 150px;">
                                      <label for="IP" class="label rs me-3">Type Entreprise :</label>
                                    </div>
                                    <div style="width: 600px;">
                                      <select id="typesociete" formControlName="typesociete" style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px;">
                                        <option  value="" disabled selected>Choose TypeSociete</option>
                                        <option *ngFor="let name of typesocieteNames" [value]="name">{{ name }}</option>
               
                                      </select>
                                    </div>
              
                                  </div>
                              </div>
        
        
                          </div>
                        </div>
                      </div>
                    </div> 
        
                   
                  
                  </form>
                </div>
             </div> 
  
   
  
  
  
          <br />
  
  
        </main>
  
      </div>
  
    </div>
  
  
  
  
  
  
  
  
  </body>
