<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <style>
       @media (zoom: 80%) {
  .table-responsive {
    max-width: 80%;
  }
}
  </style>
</head>
<body class="body1">
    <div class="container">
      <form   [formGroup]="form" (ngSubmit)="onSubmit()"> 
        <div class="form-group">
          <img class = "image"  src="../../assets/images/user-1.jpg" />
            <!-- <h4 class="form-label mt-3">Connexion</h4> -->
            <label  class="label" style="margin-right: 351px;" for="username">Nom d'utilisateur</label>
            <div class="form-floating mb-3 mt-4">
              <div style=" margin-top: -21px;" > 
              <input type="text" class="form-control" id="username" formControlName="username"   [ngClass]="{ 'is-invalid': submitted && f['username'].errors }">
              <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                <div *ngIf="f['username'].errors && f['username'].errors['required']">Username is required</div>
              </div>
            </div>
            </div>
            <label class="label"  style="margin-right: 371px;" for="password">Mot de passe</label>
            <div class="form-floating">
               <div style=" margin-top: -16px;" > 
              <input type="password" class="form-control" id="password" formControlName="password" autocomplete="off"  [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
              <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div  *ngIf="f['password'].errors && f['password'].errors['required']">Password is required</div>
              </div>
            </div>
            </div>
            
            <!-- <a >Mot de passe oublier</a> -->
           
            <div style="display: contents">
                <button  [disabled]="loading" type="submit" class="button r4 wide primary">se connecter  <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span></button>
            </div>
             <div class="w0 pr ln3 p16 remember" style="margin-left: -182px;
             margin-top: 4px">
              <input type="checkbox" class="r4 fl mr8" style id="rememberUn" name="rememberUn">
            <label for="rememberUn" class="fl pr db tn3" style="margin-left: 5px;">Mémoriser mes informations</label>
            <br>
             </div>
             <div class="w0 links bt pt16 mb20">
              <a id="forgot_password_link" class="fl small" [routerLink]="['/MDPOublier']" >Mot de passe oublié ?</a>
             </div>
 
        </div>
      </form>
        
    </div>
</body>

