 
 <head>
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  

  <style>
    /* .navbar {
      position: fixed;
      width: 81%;
      top: 0;
      z-index: 1000;
    }

    .search-form {
      position: sticky;
      top: 80px;  
      background: #ffffff;
      z-index: 999;
    }

    .table-container {
      margin-top: 120px;  
    }

    @media (zoom: 80%) {
  .table-responsive {
    max-width: 80%;
  }
} */
  
  </style>
</head>  
 
 
  <body>
  
 
    <div class="sidebar" [class.open]="isSidebarOpen" (mouseenter)="toggleSidebar()" (mouseleave)="toggleSidebar()">
      <div class="logo_details">
        <!-- <i class="bx bxl-audible icon"></i> -->
        <div class="logo_name"> </div>
        <i class="bx bx-menu" id="btn"></i>
      </div>
      <ul class="nav-list">
        <li>
          <i class="bx bx-search"></i>
          <input type="text" placeholder="Search...">
           <span class="tooltip">Search</span>
        </li>
        <li>
          <a  [routerLink]="['/dashboard']" >
            <i class="bx bx-grid-alt"></i>
            <span class="link_name">Dashboard</span>
          </a>
          <span class="tooltip">Dashboard</span>
        </li>
        <li>
          <a [routerLink]="['/list-client']" >
            <i class="bx bx-user"></i>
            <span class="link_name">Client</span>
          </a>
          <span class="tooltip">Client</span>
        </li>
        <li>
          <a  [routerLink]="['/Prestation']" >
            <i class="bx bx-chat"></i>
            <span class="link_name">Préstation</span>
          </a>
          <span class="tooltip">Préstation</span>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-pie-chart-alt-2"></i>
            <span class="link_name">Tache</span>
          </a>
          <span class="tooltip">Tache</span>
        </li>
        <li>
          <a [routerLink]="['/list-type-societe']" >
            <i class="bx bx-folder"></i>
            <span class="link_name">File Manger</span>
          </a>
          <span class="tooltip">Types D'entreprises</span>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-cart-alt"></i>
            <span class="link_name">Order</span>
          </a>
          <span class="tooltip">Order</span>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-cog"></i>
            <span class="link_name">Settings</span>
          </a>
          <span class="tooltip">Settings</span>
        </li>
        <li class="profile">
          <div class="profile_details">
            <!-- <img src="profile.jpeg" alt="profile image"> -->
            <div class="profile_content">
              <div class="name">Anna Jhon</div>
              <div class="designation">Admin</div>
            </div>
          </div>
          <i class="bx bx-log-out" id="log_out"></i>
        </li>
      </ul>
    </div>
    
    <div class="body-wrapper">
    
      <header class="app-header" style="position: fixed;">
        <nav class="navbar navbar-expand-lg navbar-light" >
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover" id="sidebarCollapseButton" data-bs-toggle="offcanvas"
                (click)="toggleSidebar()" data-bs-target="#sidebarCollapse">
                <i class="ti ti-menu-2"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-icon-hover" style="margin-left: 200px;">
                <i class="ti ti-bell-ringing"></i>
                <div class="notification bg-primary rounded-circle"></div>
              </a>
            </li>
          </ul>
  
          <!-- RECHERCHE BAR -->
          <!-- <form class="position-relative text-center">
            <div class="input-group"
              style="width: 600px; margin-left: 20px; margin-top: 12px; background-color: ghostwhite;">
              <input placeholder="Search..." aria-label="Search" type="search" class="rounded-pill form-control">
              <div class="input-group-prepend">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="svg-inline--fa fa-search fa-w-16 text-400 search-box-icon"
                  style="margin-left: -34px;text-align:center;margin-top: 8px;">
                  <circle cx="11" cy="11" r="8"></circle>
                  <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                </svg>
              </div>
            </div>
          </form> -->
  
          <!-- Traduction -->
          <!-- <div class="flex items-center gap-2 h-16 ml-auto" style="margin-left: 400px;">
            <div class="dropdown-item">
              <a class="dropdown-toggle" id="Dropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                <i class="flag-united-kingdom flag m-0"></i>
                <img class="thumb" data-pin-no-hover="true" fetchpriority="high"
                  src="../../assets/images/flagfrance.png" style="width: 38px; height: 36px;">
              </a>
            </div>
          </div> -->
          
          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
              <a href="https://adminmart.com/product/modernize-free-bootstrap-admin-dashboard/" target="_blank"
                class="btn btn-primary"  style="width: 221px;padding: 6px">Welcome, {{username}}</a>
                <!-- (click)="displaydatauser()" -->
              <li class="nav-item dropdown">
                <a class="nav-link nav-icon-hover"  (click)="displaydatauser()" id="drop2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="../assets/images/profile/user-1.jpg" alt="" width="35" height="35" class="rounded-circle">
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" id="dropmenuuser"
                  aria-labelledby="drop2">
                  <div class="message-body">
                    <a class="d-flex align-items-center gap-2 dropdown-item" style="margin-left: 18px;">
                      <i class="ti ti-user fs-6"></i>
                      <p class="mb-0 fs-3" style="font-size: 0.875rem!important;
                        margin-bottom: 0!important;margin-left: -7px;margin-top: 10px;">Mon Profile</p>
                    </a>
                    <!-- (click)="logout()" -->
                    <a  (click)="logout()" style="margin-bottom: 12px;"
                      class="btn btn-outline-primary mx-3 mt-2 d-block">Déconnecter</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <ng-content></ng-content>

      <div style="margin-top: 70px;">
        <div class="container">
          <div class="row">
              <form   *ngIf="selectedData"> 
              <div class="col-md-12 mb-3">
                <div class="card dossier-card">
                  <div class="card-body">
                    <h5 class="card-title mb-0">Identification</h5>
                    <hr class="flex-grow-1" style="border-top: 1px solid #ccc;margin-top: -9px;">
  
                    <div class="d-flex flex-wrap mb-3" style="margin-top: 30px;">
                      <div class="mb-3 d-flex">
                        <div class="me-3" style="width: 150px;">
                          <label for="rs" class="label rs">Raison Sociale :</label>
                        </div>
                        <div style="width: 400px;">
                          <input type="text" class="form-control custom-sinput" id="rs"  [(ngModel)]="selectedData.rs" [ngModelOptions]="{standalone: true}" disabled>
                        </div>
                      </div>
  
  
                      <div class="mb-3 d-flex">
                        <div class="me-3" style="width: 150px;">
                          <label for="propriete" class="label rs" style="margin-left: 44px;">Propriétaire :</label>
                        </div>
                        <div style="width: 200px;">
                          <input type="text" class="form-control custom-sinput" id="propriete" [(ngModel)]="selectedData.propriete" [ngModelOptions]="{standalone: true}" disabled>
                        </div>
                      </div>
   
  
                      <div class="mb-3 d-flex" style="margin-top: 12px;">
                        <div class="me-3" style="width: 150px;">
                          <label for="ctNum" class="label rs me-3">Numéro client :</label>
                        </div>
                        <div style="width: 400px;">
                          <input type="text" class="form-control custom-sinput" id="ctNum"
                          [(ngModel)]="selectedData.ctNum" [ngModelOptions]="{standalone: true}" disabled>
                        </div>
  
                      </div>
                      
  
                      
                      <div class="mb-3 d-flex" style="margin-top: 12px">
                        <div class="me-3" style="width: 150px">
                          <label for="Qualite" style="margin-left: 50px;" class="label rs me-3">Qualité :</label>
                        </div>
                        <div style="width: 200px;">
                          <input type="text" class="form-control custom-sinput" [(ngModel)]="selectedData.qualite" [ngModelOptions]="{standalone: true}" disabled>
                        </div>
  
                      </div>
  
                      <div class="mb-3 d-flex" style="margin-top: 12px;">
                        <div class="me-3" style="width: 150px;">
                          <label for="cmt" class="label rs me-3">Commentaire :</label>
                        </div>
                        <div style="width: 765px;">
                          <input type="text" class="form-control custom-sinput" id="cmt"   [(ngModel)]="selectedData.cmt" [ngModelOptions]="{standalone: true}" disabled>
                        </div>
  
                      </div>
                      
  
                    </div>
                  </div>
                </div>
              </div>
  
  
                <div class="col-md-12 mb-3">
                <div class="card dossier-card">
                  <div class="card-body">
                    <h5 class="card-title mb-0">Coordonnées</h5>
                    <hr class="flex-grow-1" style="border-top: 1px solid #ccc;margin-top: -9px;">
  
                    <div class="d-flex flex-wrap mb-3" style="margin-top: 30px;">
                      <div class="mb-3 d-flex" style="margin-top: 12px;">
                        <div class="me-3" style="width: 150px;">
                          <label for="Adresse" class="label rs me-3">Adresse:</label>
                        </div>
                        <div style="width: 765px;">
                          <input type="text" class="form-control custom-sinput" id="Adresse"  [(ngModel)]="selectedData.adresse" [ngModelOptions]="{standalone: true}" disabled>
                        </div>
  
                      </div>
                      <div class="mb-3 d-flex" style="margin-top: 12px;">
                        <div class="me-3" style="width: 150px;">
                          <label for="Complement" class="label rs me-3">Complément:</label>
                        </div>
                        <div style="width: 765px;">
                          <input type="text" class="form-control custom-sinput" id="complement" [(ngModel)]="selectedData.complement" [ngModelOptions]="{standalone: true}" disabled>
                        </div>
  
                      </div>
                      <div class="mb-3 d-flex">
                          <div class="me-3" style="width: 150px;">
                            <label for="Siège" class="label rs" style="margin-left: 20px;">Siège :</label>
                          </div>
                          <div style="width: 765px;">
                            <input type="text" class="form-control custom-sinput" id="Siège" [(ngModel)]="selectedData.siege" [ngModelOptions]="{standalone: true}" disabled
  >
                          </div>
                        </div>
                      <div class="mb-3 d-flex">
                        <div class="me-3" style="width: 150px;">
                          <label for="CodePostal" class="label rs">Code Postal :</label>
                        </div>
                        <div style="width: 400px;">
                          <input type="text" class="form-control custom-sinput" id="CodePostal" [(ngModel)]="selectedData.codepostal" [ngModelOptions]="{standalone: true}"disabled>
                        </div>
                      </div>
  
  
                      <div class="mb-3 d-flex">
                        <div class="me-3" style="width: 150px;">
                          <label for="ville" class="label rs" style="margin-left: 44px;">Ville :</label>
                        </div>
                        <div style="width: 200px;">
                          <input type="text" class="form-control custom-sinput" id="ville" [(ngModel)]="selectedData.ville" [ngModelOptions]="{standalone: true}" disabled >
                        </div>
                      </div>
  
                      <div class="mb-3 d-flex">
                        <div class="me-3" style="width: 150px;">
                          <label for="CodeRegion" class="label rs">Région :</label>
                        </div>
                        <div style="width: 400px;">
                          <input type="text" class="form-control custom-sinput" id="CodeRegion"  [(ngModel)]="selectedData.coderegion" [ngModelOptions]="{standalone: true}"disabled>
                        </div>
                      </div>
  
  
                      <div class="mb-3 d-flex">
                        <div class="me-3" style="width: 150px;">
                          <label for="Pays" class="label rs" style="margin-left: 44px;">Pays:</label>
                        </div>
                        <div style="width: 200px;">
                          <input type="text" class="form-control custom-sinput" id="Pays"  [(ngModel)]="selectedData.pays" [ngModelOptions]="{standalone: true}" disabled>
                        </div>
                      </div>
                         
                      <div class="mb-3 d-flex" style="margin-top: 12px;">
                          <div class="me-3" style="width: 150px;">
                            <label for="Email" class="label rs me-3">Email:</label>
                          </div>
                          <div style="width: 765px;">
                            <input type="Email" class="form-control custom-sinput" id="Email" [(ngModel)]="selectedData.email" [ngModelOptions]="{standalone: true}" disabled>
                          </div>
                        </div>
                        <div class="mb-3 d-flex">
                          <div class="me-3" style="width: 150px;">
                            <label for="Telephone" class="label rs">Téléphone :</label>
                          </div>
                          <div style="width: 400px;">
                            <input type="text" class="form-control custom-sinput" id="tel" [(ngModel)]="selectedData.tel" [ngModelOptions]="{standalone: true}"disabled>
                          </div>
                        </div>
    
    
                        <div class="mb-3 d-flex">
                          <div class="me-3" style="width: 150px;">
                            <label for="Telecopie " class="label rs" style="margin-left: 44px;">Télécopie :</label>
                          </div>
                          <div style="width: 200px;">
                            <input type="text" class="form-control custom-sinput" id="Telecopie"  [(ngModel)]="selectedData.telcopie" [ngModelOptions]="{standalone: true}"disabled >
                          </div>
                        </div>
  
                    </div>
                  </div>
                </div>
              </div>
  
             <div class="col-md-12 mb-3">
                <div class="card dossier-card">
                  <div class="card-body">
                    <h5 class="card-title mb-0">Immatriculation</h5>
                    <hr class="flex-grow-1" style="border-top: 1px solid #ccc;margin-top: -9px;">
  
                    <div class="d-flex flex-wrap mb-3" style="margin-top: 30px;">
                        
                     
                       
                      <div class="d-flex flex-wrap mb-3" style="margin-top: 16px;">
                          <div class="mb-3 d-flex">
                            <div class="me-3" style="width: 150px;">
                              <label for="forme" class="label rs">Forme :</label>
                            </div>
                            <div style="width:300px;">
                              <input type="text" class="form-control custom-sinput" id="forme"    [(ngModel)]="selectedData.forme" [ngModelOptions]="{standalone: true}" disabled>
                            </div>
                          </div>
      
      
                          <div class="mb-3 d-flex">
                            <div class="me-3" style="width: 150px;">
                              <label for="capitale" class="label rs" style="margin-left: 50px;">Capitale :</label>
                            </div>
                            <div style="width: 300px;">
                              <input type="text" class="form-control custom-sinput" id="capitale"  [(ngModel)]="selectedData.capitale" [ngModelOptions]="{standalone: true}"disabled
                                placeholder="Capitale">
                            </div>
                          </div>
                         
                        </div>
   
                        <div class="d-flex flex-wrap mb-3">
                          <div class="mb-3 d-flex">
                            <div class="me-3" style="width: 80px;">
                              <label for="rc" class="label rs">RC :</label>
                            </div>
                            <div style="width: 200px; margin-left: 71px;">
                              <input type="text" class="form-control custom-sinput" id="rc" [(ngModel)]="selectedData.rc" [ngModelOptions]="{standalone: true}" disabled>
                            </div>
                          </div>
      
      
                          <div class="mb-3 d-flex">
                            <div class="me-3" style="width: 80px;">
                              <label for="if" class="label rs" style="margin-left: 20px;">IF :</label>
                            </div>
                            <div style="width: 200px;">
                              <input type="text" class="form-control custom-sinput" id="if" [(ngModel)]="selectedData.i_f" [ngModelOptions]="{standalone: true}"disabled>
                            </div>
                          </div>
                          <div class="mb-3 d-flex">
                            <div class="me-3" style="width: 80px;margin-left: -22px;">
                              <label for="ice" class="label rs" style="margin-left: 30px;">ICE :</label>
                            </div>
                            <div style="width: 200px;">
                              <input type="text" class="form-control custom-sinput" id="ice" [(ngModel)]="selectedData.ice" [ngModelOptions]="{standalone: true}"disabled
                                placeholder="ice">
                            </div>
                          </div>
  
                          <div class="mb-3 d-flex" style="margin-top: 12px;">
                              <div class="me-3" style="width: 150px;">
                                <label for="IP" class="label rs me-3" >IP :</label>
                              </div>
                              <div style="width: 200px;">
                                <input type="text" class="form-control custom-sinput" id="ip" [(ngModel)]="selectedData.ip" [ngModelOptions]="{standalone: true}" disabled>
                              </div>
        
                            </div>
                            <div class="mb-3 d-flex" style="margin-top: 12px;">
                              <div class="me-3" style="width: 150px;">
                                <label for="cnss" class="label rs me-3" style="margin-left: 20px;">CNSS :</label>
                              </div>
                              <div style="width: 300px;">
                                <input type="text" class="form-control custom-sinput" id="cnss" [(ngModel)]="selectedData.cnss" [ngModelOptions]="{standalone: true}" disabled>
                              </div>
        
                            </div>
                            <!-- [(ngModel)]="selectedTypeSociete" name="typesociete" *ngFor="let type of typesocietes {{ type.nom }}  [value]="type.id"" -->
                            <div class="mb-3 d-flex" style="margin-top: 12px;">
                              <div class="me-3" style="width: 150px;">
                                <label for="IP" class="label rs me-3">Type Entreprise :</label>
                              </div>
                              <div style="width: 600px;">
                                <input id="typesociete" [(ngModel)]="selectedData.typesociete" [ngModelOptions]="{standalone: true}"  style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px;">
                                  <!-- <option value="" disabled selected>Choose TypeSociete</option> -->
                                  <!-- <option *ngFor="let name of typesocieteNames" [value]="name">{{ name }}</option> -->
                                
                              </div>
        
                            </div>
                        </div>
  
  
                    </div>
                  </div>
                </div>
              </div> 
   
            
            </form>
          </div>
       </div> 
      </div>
    
      <img width="48" height="48" src="https://img.icons8.com/color/48/undo.png" class="bottom-link"alt="undo"  routerLink="/list-client" style="cursor: pointer;"/>

   
    </div>

 
  





 
    
</body> 
 
 

  