<head>
 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <style>
    .navbar {
      position: fixed;
      width: 80%;
      top: 0;
      z-index: 1000;
    }

 
    body {
            zoom: 90%;
        }
        

  
  </style>
</head>  



<body>
    
    
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
  
    <aside #sidebar class="left-sidebar" style="background: linear-gradient(to bottom, #ffffff, #cccccc);"  [style.marginLeft]="isSidebarExpanded ? '0' : '270px'" >
      <!-- [@sidebarToggle]="isSidebarExpanded ? 'expanded' : 'collapsed'" -->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="./index.html" class="text-nowrap logo-img">
            <img src="../assets/images/el_maguiri_logo-removebg-preview.png" style="margin-left: 71px;" width="80" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" data-bs-toggle="offcanvas" (click)="closesidebar()" data-bs-target="#sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div> 
        </div>
       
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Dashboard</span>
            </li>
            <li class="sidebar-item" routerLinkActive="active">
              <a class="sidebar-link"  [routerLink]="['/dashboard']" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Tableau De Bord</span>
              </a>
            </li>
            <li class="nav-small-cap" routerLinkActive="active">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Dossiers</span>
            </li>
            <li class="sidebar-item" routerLinkActive="active">
              <a class="sidebar-link" [routerLink]="['/ajout-societe']" aria-expanded="false">
                <span>
                  <i class="bi bi-file-earmark-plus-fill"></i>
                  <!-- <i class="ti ti-article"></i> -->
                </span>
                <span class="hide-menu">Nouveau Dossier</span>
              </a>
            </li>
            <li class="sidebar-item" routerLinkActive="active">
              <a class="sidebar-link" [routerLink]="['/dossier']" aria-expanded="false">
                <span>
                  <i class="ti ti-file-description"></i>
                
                </span>
                <span class="hide-menu">Liste Des Dossiers</span>
              </a>
            </li>
            <!-- <li class="sidebar-item">
              <a class="sidebar-link" href="./ui-card.html" aria-expanded="false">
                <span>
                  <i class="ti ti-cards"></i>
                </span>
                <span class="hide-menu">Progrès du Dossier</span>
              </a>
            </li> -->
            <li class="sidebar-item" routerLinkActive="active">
              <a class="sidebar-link" [routerLink]="['/dossier-archive']" aria-expanded="false">
                <span>
                   <i class="ti ti-alert-circle"></i> 
                </span>
                <span class="hide-menu">Dossiers Archivés</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Préstations</span>
            </li>
            <li class="sidebar-item" routerLinkActive="active">
              <a class="sidebar-link"  [routerLink]="['/ajout-prestation']" aria-expanded="false">
                <span>
                  <i class="bi bi-plus-circle-fill"></i> 
                  <!-- <i class="bi bi-list-task"></i>   -->
                </span>
                <span class="hide-menu">Nouvelle Mission</span>
              </a>
            
            </li>
            <li class="sidebar-item" routerLinkActive="active">
                  <!-- <i class="ti ti-article"></i> -->
               
              <a class="sidebar-link"  [routerLink]="['/Prestation']" aria-expanded="false">
                <span>
                  <i class="bi bi-card-checklist"></i> 
                </span>
                <span class="hide-menu"> Liste Des Missions</span>
              </a>
            </li>
             

            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">AUTH</span>
            </li>
           
            <li class="sidebar-item" routerLinkActive="active">
              <a class="sidebar-link" [routerLink]="['/nv-colab']" aria-expanded="false">
                <span>
                  <i class="ti ti-user-plus"></i>
                </span>
                <span class="hide-menu">Register</span>
              </a>
            </li>
            <li class="sidebar-item" routerLinkActive="active">
              <a class="sidebar-link" [routerLink]="['/list-colabs']" aria-expanded="false">
                <span> 
                  <i class="bi bi-people-fill"></i>
                </span>
                <span class="hide-menu">Colaborateurs</span>
              </a>
            </li>
            <li class="sidebar-item" routerLinkActive="active">
              <a class="sidebar-link"  aria-expanded="false">
                <span>
                  <i class="bi bi-person-fill-lock"></i>
                </span>
                <span class="hide-menu">affectation d'accès</span>
              </a>
            </li>
           
          
          </ul>
          
        </nav>
     
      </div>
      
    </aside>
    
    <div class="body-wrapper">
    
      <header class="app-header" style="position: fixed; ">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover" id="sidebarCollapseButton" data-bs-toggle="offcanvas" (click)="toggleSidebar()" data-bs-target="#sidebarCollapse">
                <i class="ti ti-menu-2"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-icon-hover">
                <i class="ti ti-bell-ringing"></i>
                <div class="notification bg-primary rounded-circle"></div>
              </a>
            </li>
          </ul>
          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
              <a href="https://adminmart.com/product/modernize-free-bootstrap-admin-dashboard/" target="_blank" class="btn btn-primary">Utilisateur</a>
              <li class="nav-item dropdown">
                <a class="nav-link nav-icon-hover" (click)="displaydatauser()" id="drop2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="../assets/images/profile/user-1.jpg" alt="" width="35" height="35" class="rounded-circle">
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" id="dropmenuuser" aria-labelledby="drop2">
                  <div class="message-body">
                    <a  class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-user fs-6"></i>
                      <p class="mb-0 fs-3">Mon Profile</p>
                    </a>
                    <a href="./authentication-login.html" class="btn btn-outline-primary mx-3 mt-2 d-block">Déconnecter</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <ng-content></ng-content>
      <main style="margin-top: 30px;" >
    
      
        <div class="formADD" *ngIf="element == false">
          <div class="container">
            <p  class="btn btn-outline-primary custom-btn mx-3 mt-2 d-block">Création D'une nouvelle société</p>

            <form [formGroup]="registerForm" class="row"  >
             
              <div class="alert alert-primary d-flex align-items-center" role="alert">
                <i class="bi bi-exclamation-triangle-fill"></i>
                <div>
                  <p>Les informations telles que la raison sociale et le numéro d'immatriculation au Registre de Commerce doivent être uniques.</p>
                </div>
              </div>
 
              <div class="form-row">
                <div class="input-data">
                  <input type="text" formControlName="propriete"  id="propriete" required>
                  <div class="underline"></div>
                  <label for="propriete">Nom de proprietaire : </label>
                  <div
                    *ngIf="registerForm.get('propriete')?.hasError('required') && (registerForm.get('propriete')?.touched || registerForm.get('propriete')?.dirty)"
                    class="text-danger">
                    Nom de proprietaire est obligatoire.
                  </div>
                </div>
                <div class="input-data">
                  <input type="text" formControlName="nom" id="nom" required>
                  <div class="underline"></div>
                  <label for="nom">Raison Sociale : </label>
                  <div
                    *ngIf="registerForm.get('nom')?.hasError('required') && (registerForm.get('nom')?.touched || registerForm.get('nom')?.dirty)"
                    class="text-danger">
                    Raison Sociale est obligatoire.
                  </div>
    
    
                </div>
              </div>
              <div class="form-row">
                <div class="input-data">
                  <input type="text" required formControlName="forme" id="forme">
                  <div class="underline"></div>
                  <label for="Forme">forme : </label>
                  <div
                    *ngIf="registerForm.get('forme')?.hasError('required') && (registerForm.get('forme')?.touched || registerForm.get('forme')?.dirty)"
                    class="text-danger">
                    forme est obligatoire.
                  </div>
                </div>
                <div class="input-data">
                  <input type="text" required id="siege" formControlName="siege" placeholder=" ">
                  <div class="underline"></div>
                  <label for="siege">Siege : </label>
                  <div
                    *ngIf="registerForm.get('siege')?.hasError('required') && (registerForm.get('siege')?.touched || registerForm.get('siege')?.dirty)"
                    class="text-danger">
                    siege est obligatoire.
                  </div>
                </div>
    
              </div>
              <div class="form-row">
                <div class="input-data">
                  <input type="text" required id="capitale" formControlName="capitale" placeholder="">
                  <div class="underline"></div>
                  <label for="capitale">Capital : </label>
                  <div
                    *ngIf="registerForm.get('capitale')?.hasError('required') && (registerForm.get('capitale')?.touched || registerForm.get('capitale')?.dirty)"
                    class="text-danger">
                    capitale est obligatoire.
                  </div>
                </div>
                <div class="input-data">
                  <input type="text" required maxlength="9" required formControlName="cnss" id="cnss">
    
                  <div class="underline"></div>
                  <label for="cnss">Cnss : </label>
                  <div
                    *ngIf="registerForm.get('cnss')?.hasError('required') && (registerForm.get('cnss')?.touched || registerForm.get('cnss')?.dirty)"
                    class="text-danger">
                    Cnss est obligatoire.
                  </div>
                </div>
    
              </div>
              <div class="form-row">
                <div class="input-data">
                  <input type="text" required formControlName="rc" id="rc">
                  <div class="underline"></div>
                  <label for="rc">RC : </label>
                  <div
                    *ngIf="registerForm.get('rc')?.hasError('required') && (registerForm.get('rc')?.touched || registerForm.get('rc')?.dirty)"
                    class="text-danger">
                    RC est obligatoire.
                  </div>
                </div>
                <div class="input-data">
                  <input type="text" required formControlName="i_f" id="i_f">
                  <div class="underline"></div>
                  <label for="i_f">IF : </label>
                  <div
                    *ngIf="registerForm.get('i_f')?.hasError('required') && (registerForm.get('i_f')?.touched || registerForm.get('i_f')?.dirty)"
                    class="text-danger">
                    IF est obligatoire.
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="input-data">
                  <input type="text" required formControlName="ice" id="ice">
                  <div class="underline"></div>
                  <label for="ice">IC : </label>
                  <div
                    *ngIf="registerForm.get('ice')?.hasError('required') && (registerForm.get('ice')?.touched || registerForm.get('ice')?.dirty)"
                    class="text-danger">
                    IC est obligatoire.
                  </div>
                </div>
                <div class="input-data">
                  <input type="text" required formControlName="ip" id="ip">
                  <div class="underline"></div>
                  <label for="ip">IP : </label>
                  <div
                    *ngIf="registerForm.get('ip')?.hasError('required') && (registerForm.get('ip')?.touched || registerForm.get('ip')?.dirty)"
                    class="text-danger">
                    IP est obligatoire.
                  </div>
                </div>
              </div>
     
    
    
              <div class="container tt" style="text-align: center;">
                <div class="row justify-content-center align-items-center" style="height: 70%;margin-left: 41px;">
                  <div class="col-6">
                    <div class="action text-center" style="display: flex; gap: 10px; font-size: 18px;">
                      <a class="btn btn-outline-primary mx-4 mt-6 d-block" id="btnannuler" [routerLink]="['/dossier']">Annuler</a>
                    
                      <button type="submit" class="btn btn-outline-primary mx-4 mt-6 d-block-clt" id="btncloturer" (click)="OnSubmit()">
                        <i class="bi bi-check-circle"></i> Enregistrer Société
                      </button>
                      
                    </div> 
                  </div>
                </div>
              </div>
                 
    
              
    
    
              <!-- <div class="action" style="text-align: center;display: flex; gap: 10px; margin-left: 80px; margin-top: 33px;">
              
                <div class="input-data">
                  <div class="form-row submit-btn">
                    <div class="input-data-b"   >
                      <div class="inner"></div>
                      <input type="button" [routerLink]="['/dossier']" value="Annuler">
                      
                    </div>
                  </div>
                </div>


                <div class="input-data" >
                  <div class="form-row submit-btn" >
                    <div class="input-data" >
                      <div class="inner"></div>
                      <input type="submit" value="Enregister" (click)="OnSubmit()">
                      
                    </div>
                  </div>
                </div>
              </div> -->
        
    
             
            </form>
    
            <!-- <h4 style="text-align: center;"> remplir les informations de votre associé : </h4> -->
                <!-- <button  class="btn" style=" font-family: 'Poppins', sans-serif; width: 200px; text-align: center; margin-left: 320px;height: 40px;
                background: -webkit-linear-gradient(right, #D51019, #D24D64, #D51019, #D24D64);" (click)="addManager()">Ajouter Manager</button> -->


                <!-- <div formArrayName="managerVoList">
                  <div *ngFor="let manager of managerVoList.controls; let i=index" [formGroupName]="i">
                    <div class="form-row">
                      <div class="input-data">
                        <input type="text" formControlName="nameManager" required>
                        <div class="underline"></div>
                        <label>Manager Name: </label>
                      </div>
                      <div class="input-data">
                        <input type="date" formControlName="Datedebut">
                        <div class="underline"></div>
                        <label>Date début: </label>
                      </div>
                      <div class="input-data">
                        <input type="date" formControlName="dateFin">
                        <div class="underline"></div>
                        <label>Date fin: </label>
                      </div>
                      <button (click)="removeManager(i)">Supprimer</button>
                    </div>
                  </div> 
                </div> -->
                
          </div>
        </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
        <div class="container" *ngIf="element == true">
          <p  class="btn btn-outline-primary custom-btn mx-3 mt-2 d-block"> Modification D'une société</p>
          <div class="alert alert-primary d-flex align-items-center" role="alert">
            <i class="bi bi-exclamation-triangle-fill"></i>
            <div>
              <p>Les informations telles que la raison sociale et le numéro d'immatriculation au Registre de Commerce doivent être uniques.</p>
            </div>
          </div>
          <form class="row" *ngIf="selectedData" #Societeupdat="ngForm" (ngSubmit)="OnUpdate(Societeupdat.value)">
            <div class="form-row">
              <div class="input-data">
                <input type="text" id="proprietaire" required [(ngModel)]="selectedData.propriete"
                  [ngModelOptions]="{standalone: true}">
                <div class="underline"></div>
                <label for="proprietaire">Nom de proprietaire : </label>
              </div>
              <div class="input-data">
                <input type="text" id="Nom" [(ngModel)]="selectedData.nom" [ngModelOptions]="{standalone: true}" required>
                <div class="underline"></div>
                <label for="Nom">Raison Sociale : </label>
    
              </div>
            </div>
            <div class="form-row">
              <div class="input-data">
                <input type="text" required [(ngModel)]="selectedData.forme" [ngModelOptions]="{standalone: true}"
                  id="Forme">
                <div class="underline"></div>
                <label for="Forme">Forme : </label>
              </div>
              <div class="input-data">
                <input type="text" required id="Siege" [(ngModel)]="selectedData.siege"
                  [ngModelOptions]="{standalone: true}" placeholder=" ">
                <div class="underline"></div>
                <label for="Siege">Siege : </label>
               </div>
            </div>
            <div class="form-row">
              <div class="input-data">
                <input type="text" required id="capitale" [(ngModel)]="selectedData.capitale"
                  [ngModelOptions]="{standalone: true}" placeholder="">
                <div class="underline"></div>
                <label for="Siege">Capitale : </label>
              </div>
              <div class="input-data">
                <input type="text" required [(ngModel)]="selectedData.cnss" [ngModelOptions]="{standalone: true}" id="Cnss">
                <div class="underline"></div>
                <label for="Siege">Cnss : </label>
              </div>
            </div>
                <div class="form-row">
              <div class="input-data">
                <input type="text" required [(ngModel)]="selectedData.rc" [ngModelOptions]="{standalone: true}" id="RC">
                <div class="underline"></div>
                <label for="RC">RC : </label>
              </div>
              <div class="input-data">
                <input type="text" required [(ngModel)]="selectedData.i_f" [ngModelOptions]="{standalone: true}" id="IF">
                <div class="underline"></div>
                <label for="IF">IF : </label>
              </div>
            </div>
            <div class="form-row">
              <div class="input-data">
                <input type="text" [(ngModel)]="selectedData.ice" [ngModelOptions]="{standalone: true}" required id="IC">
                <div class="underline"></div>
                <label for="IC">IC : </label>
              </div>
              <div class="input-data">
                <input type="text" [(ngModel)]="selectedData.ip" [ngModelOptions]="{standalone: true}" required id="IP">
                <div class="underline"></div>
                <label for="IP">IP : </label>
              </div>
            </div>
             
              <!-- <div class="input-data"  visible="false">
                <input type="text" [(ngModel)]="selectedData.id" [ngModelOptions]="{standalone: true}" required id="id" disabled>
                <div class="underline"></div>
                 <label for="id" >id : </label>
              </div> -->
              <!-- <h6> remplir les informations de votre gérant : </h6> -->
          
            
    
            <div class="action" style="text-align: center;display: flex; gap: 10px; margin-left: 100px; margin-top: 33px;">
              <div class="input-data">
                <div class="form-row submit-btn">
                  <div class="input-data-b"   >
                    <div class="inner"></div>
                    <input type="button" [routerLink]="['/dossier']" value="Annuler">
                    
                  </div>
                </div>
              </div>
              <div class="input-data" >
                <div class="form-row submit-btn" >
                  <div class="input-data" >
                    <div class="inner"></div>
                    <input type="submit" value="modifier" >
                    
                  </div>
                </div>
              </div>
             
            </div>
           
          </form>
        </div>
            
         
   
  </main> 
    </div>

  </div>

    
</body> 

 
<div class="toast toast-success" role="alert" aria-live="assertive" id="toastsucces"  aria-atomic="true" style="text-align: center;">
  <strong class="me-auto"></strong>
  <button type="button" class="btn-close" data-bs-dismiss="toast" style="position: absolute; top: 0; right: 0;" aria-label="Close"></button>
  <div class="toast-body">
    la société a été ajouté avec succès 
  </div>
</div>

<div class="toast toast-success" role="alert" aria-live="assertive" id="toastsuccesModify"  aria-atomic="true" style="text-align: center;">
  <strong class="me-auto"></strong>
  <button type="button" class="btn-close" data-bs-dismiss="toast" style="position: absolute; top: 0; right: 0;" aria-label="Close"></button>
  <div class="toast-body">
    la société a été Modifié avec succès 
  </div>
</div>
   