
@import '../../assets/css/styles.min.css';
@import "../../assets/libs/simplebar/dist/simplebar.css";
@import "../../assets/css/icons/tabler-icons/tabler-icons.css";
 
   
 @import "~bootstrap-icons/font/bootstrap-icons.css";
        
 body {
  zoom: 90%;
}

@media (max-width: 767px) {
  body {
    zoom: 90%;
  }

  .left-sidebar {
    margin-left: 0;
  }
}
 body {
  display: block;
    min-height: 100vh;
    position: none;
    zoom: 85%;
    width: 100%;
    height: 100%;
 
}

  .navbar {
    position: fixed;
    width: 81%;
    top: 0;
    z-index: 1000;
    margin: 0;
    padding: 0;
  }
 

  .body-wrapper {
    margin-top: 56px;  
  }
  /* Add these styles to your CSS file or style section */

.dossier-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.dossier-card:hover {
  transform: scale(1.05);
}

.dossier-card .card-title {
  color: #007bff;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.dossier-card .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.dossier-card .btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

  .mb-3{
    margin-top: 28px;
    margin-left: 42px;
  }
  .card{
 
    background: linear-gradient(to bottom, #ffffff, rgb(245, 250, 255));
  }
  /* .table{
    width: 83%;
    margin-left: 115px;
    margin-top: 20px;
  
  } */
  .custom-number {
    font-size: 1.8rem;  
    font-weight: bold;  
    color: #28a745;  
    
  }
  /* //users status  */
  .avatar-2xl {
    height: 2.5rem;
    width: 2.5rem;
}

.avatar {
    position: relative;
    display: inline-block;
}
  .status-online::before {
    content: '\2022';  
    color: #28a745; 
    font-size: 1.5em;
    margin-right: 5px;
  }
   .avatar img {
    width: 50px;
    height: 50px;
}
/*
.avatar img, .avatar .avatar-name {
    width: 100%;
    height: 100%;
}
.avatar img {
    display: block;
}
.rounded-circle {
    border-radius: 50% !important;
}
img, svg {
    vertical-align: middle;
} */
 
 
 
   